<div class="article__header spacing text-align--center narrow">
  <h2 class="article__header-kicker font--primary--s">{{ kicker }}</h2>
  <hr class="divider" />
  <h1 class="article__header-title font--secondary--l">{{ post.title }}</h1>
</div>