{% if post.thumbnail %}
  <div class="article__image">
    <picture class="block__thumb">
      {% set img_alt = Image(post.thumbnail).alt %}
      {% set img_src_s = Image(post.thumbnail).src|resize(700) %}
      {% set img_src_m = Image(post.thumbnail).src|resize(900) %}
      <img srcset="{{ img_src_s }} 700w, {{ img_src_m }} 900w" alt="{{ img_alt }}">
    </picture>
  </div>
{% endif %}