<div class="page-header spacing text-align--center narrow narrow--m">
  {% if post.display_title %}
    <h2 class="page-kicker font--primary--s">{{ post.title }}</h2>
    <hr class="divider" />
    <h1 class="page-title">{{ post.display_title }}</h1>
  {% else %}
    <h1 class="page-title">{{ post.title }}</h1>
    <hr class="divider" />
  {% endif %}
  {% if post.intro %}
    <div class="page-intro text-align--center">
      <p>{{ post.intro }}</p>
    </div>
  {% endif %}
</div>
