<section class="section section__featured-about background-color--white">
  <div class="section--inner layout-container">
    <div class="grid grid--50-50">
      <div class="grid-item spacing">
        <div class="spacing--half">
          <h3 class="font--primary--xs color--gray">About</h3>
          <h2 class="font--primary--m">Let’s Get aquinted</h2>
        </div>
        <hr class="divider space--left-zero" />
        <p>I currently reside in Wayne County, PA (Beach Lake, to be exact), but offer my graphic design, branding, and website services to many other areas, including Scranton, Milford, Pike County and the Poconos.</p>
        <p>I specialize in all aspects of branding and website design, and use my experience in graphic design to help clients bring their brand and ideas to life. I enjoy working with small businesses and any individual that’s as passionate about what they do as I am.</p>
        <p>When I’m not working with clients, I enjoy spending time on my own side projects. This helps me stay creatively energized while giving me new challenges to overcome. If you’d like to see some of my recent side work, check out my <a href="/blog" class="text-decoration--underline">blog</a>!</p>
        <a href="/about" class="btn">Learn More</a>
      </div>
      <div class="grid-item">
        <picture class="round">
          <img src="{{ theme.link }}/assets/images/headshot.jpg" alt="Kelsey Cahill" />
        </picture>
      </div>
    </div>
  </div>
</section>