{% if post.prev('category') or post.next('category') %}
  <div class="article__nav">
    <div class="article__nav--inner">
      {% if post.prev('category') %}
        <a href="{{ post.prev('category').link }}" class="article__nav-item previous">
          <div class="article__nav-item-label font--primary--xs">
            <span class="icon icon--xs">{% include "00-atoms/icons/arrow--previous.twig" %}</span><font>Previous</font>
          </div>
          <div class="font--primary--s">{{ post.prev('category').title }}</div>
        </a>
      {% endif %}
    </div>
    <div class="article__nav--inner">
      {% if post.next('category') %}
        <a href="{{ post.next('category').link }}" class="article__nav-item next">
          <div class="article__nav-item-label font--primary--xs">
            <font>Next</font><span class="icon icon--xs">{% include "00-atoms/icons/arrow--next.twig" %}</span>
          </div>
          <div class="font--primary--s">{{ post.next('category').title }}</div>
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}