{% if post.affiliate_link %}
  <a href="{{ post.affiliate_link }}" class="btn {{ classes }}" target="_blank" rel="noopener">
    {% if post.affiliate_link_text %}
      {{ post.affiliate_link }}
    {% else %}
      Buy now
    {% endif %}
  </a>
{% endif %}