{% if post.etsy_link %}
  <a href="{{ post.etsy_link }}" class="btn {{ classes }}" target="_blank" rel="noopener">
    {% if post.etsy_link_text %}
      {{ post.etsy_link_text }}
    {% else %}
      Get DIY Plans
    {% endif %}
  </a>
{% endif %}