{% set base_class = social_share.base_class|default('c-social-share') %}

{% if social_share %}
  {% set pinterest_share_image = post.hero_image ? Image(post.hero_image).src|resize(1200, auto) : Image(post.thumbnail).src|resize(1200, auto) %}
  {% set social_share_links = [
    {
      "name": "pinterest",
      "url": "http://pinterest.com/pin/create/button/?url=" ~ post.link|url_encode ~ "&description=" ~ post.title ~ "&media=" ~ pinterest_share_image
    },
    {
      "name": "facebook",
      "url": "https://facebook.com/sharer/sharer.php?u=" ~ post.link|url_encode
    },
    {
      "name": "twitter",
      "url": "https://twitter.com/intent/tweet/?text=" ~ post.title ~ "&amp;url=" ~ post.link|url_encode
    },
    {
      "name": "sms",
      "url": "https://www.addtoany.com/add_to/sms?linkurl=" ~ post.link|url_encode ~ "&linkname=" ~ post.title
    },
    {
      "name": "email",
      "url": "mailto:?subject=" ~ post.title ~ "&amp;body=" ~ post.link|url_encode
    }
  ] %}

  <div class="{{ bem_classes(base_class, social_share.element, social_share.modifiers, social_share.extra) }}">
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": {
        "level": "6",
        "size": "xs",
        "type": "secondary",
        "text": "Share",
        "extra": bem_classes(base_class, 'heading')
      }
    } %}
    <div class="{{ bem_classes(base_class, 'links') }}">
      {% for link in social_share_links %}
        {% if link.url %}
          {% include "@atoms/links/link.twig" with {
            "link": {
              "url": link.url,
              "target": "_blank",
              "extra": [
                bem_classes(base_class, 'item', link.name)
              ],
              "icon": {
                "name": link.name,
                "modifiers": "small"
              },
              "attributes": {
                "aria-label": link.name|capitalize
              }
            }
          } %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
