/* ------------------------------------ *\
    $WOOCOMMERCE
\* ------------------------------------ */

.cart,
.checkout {
  .l-container--l {
    max-width: $max-width;
  }
}

.stock {
  font-style: italic;
}

.c-content .woocommerce {
  @include body-copy;

  & > * + * {
    margin-top: $space;
  }

  table {
    border-radius: 0;

    th {
      background-color: transparent;
      color: $c-black;
    }

    tr th,
    tr td {
      border: none;
      background-color: transparent;
      border-bottom: $border--standard;
      line-height: $line-height;
    }
  }

  .button {
    @include o-button--secondary;
  }
}

.o-cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .woocommerce-notices-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.woocommerce-page {
  .o-rich-text {
    max-width: $max-width-xl;
  }
}

.woocommerce-tabs {
  display: none;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  margin-top: $space;

  .quantity {
    margin-right: $space-half;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.variations_form {
  button {
    margin: 0;
  }
}

.variations {
  margin-bottom: $space-quarter;
  position: relative;

  .label {
    display: flex;
  }

  .value {
    display: flex;
    align-items: center;

    a {
      text-decoration: underline;
      position: absolute;
      top: $space-half;
      right: $space-half;
    }
  }
}

.woocommerce-notices-wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space;
  padding: 0;
}

.o-notice {
  padding: $space-half;
  border: $border--standard;
  border-radius: $border-radius-curve--hard;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: $space;

  &--success {
    border-color: $c-green;
    background-color: rgb(from $c-green r g b / 80%);
  }

  &--info {
    border-color: $c-orange;
    background-color: rgb(from $c-orange r g b / 80%);
  }

  &--error {
    border-color: $c-red;
    background-color: rgb(from $c-red r g b / 80%);
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    > * {
      width: 100%;
      line-height: 1.6;
    }
  }

  a {
    margin-right: $space-quarter;

    @include o-button--tertiary;
    @include o-button--small;
  }
}

.o-add-to-cart {
  display: flex;
  position: relative;
}

.c-cart {
  &__table {
    td:first-child {
      a {
        border: 0;
      }
    }

    img {
      max-width: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include media(">medium") {
      flex-direction: row;
      justify-content: space-between;
      margin-top: $space-double;
    }


    > * {
      margin-top: $space;

      @include media(">medium") {
        &:first-child {
          margin-right: $space;
          width: 50%;
        }

        &:last-child {
          margin-left: $space;
          width: 50%;
        }
      }
    }
  }

  input[type="number"] {
    width: 60px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.cart_totals {
  padding: $space;
  border-radius: $border-radius-curve--hard;
  background-color: white;

  /* stylelint-disable-next-line selector-class-pattern */
  .shop_table {
    th,
    td {
      border-bottom: 1px solid $c-gray;
      padding-left: 0;
      padding-right: 0;
    }

    th {
      text-align: left;
    }

    td {
      text-align: right;
    }
  }

  ul {
    li {
      padding-left: 0;
    }

    li::before {
      display: none;
    }
  }

  hr {
    margin: 0;
  }

  label {
    font-size: $font-size-s;
    margin: 0;
    padding: 0;
  }
}

.shipping-calculator-form {
  text-align: left;
  margin-top: $space;

  & > * + * {
    margin-top: $space-half;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.woocommerce-NoticeGroup {
  grid-column: span 12;
}

.c-checkout {
  .woocommerce-order-details,
  .woocommerce-customer-details {
    float: none;
    width: 100%;
    padding: 0;

    table > tr td
    table > tr th {
      border: 0;
    }
  }
}

.c-review-order {
  background-color: white;
  border-radius: $border-radius-curve--hard;
  padding: $space;
  font-size: $font-size-s;
  line-height: 1.4;

  &__details {
    background-color: transparent;

    table {
      thead th {
        background-color: white;
      }

      th,
      td {
        border-bottom-color: $c-gray;
        padding: $space-half;
        background-color: white;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      margin-top: $space;

      li {
        padding: 0;
        margin-top: $space-half;
        clear: left;
      }

      li::before {
        display: none;
      }
    }

    .order-total .amount {
      font-size: $font-size-m;
    }
  }
}

.c-checkout-payment {
  background-color: transparent;
}

.c-checkout-payment-method {
  &__select-box {
    font-weight: normal;
    margin-top: 0;
  }

  label > p {
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }

  img {
    display: none;
  }

  img + a {
    margin-left: $space-half;
  }

  .form-row {
    margin-top: $space-half;
  }

  .wc-stripe-elements-field {
    border: $border--standard;
    padding: $space-half;
    border-radius: $border-radius-curve;
  }
}

.woocommerce-thankyou-order-details {
  margin-left: $space-double;
  line-height: 1.6;
}

.woocommerce-order-details,
.woocommerce-customer-details {
  @include media('>medium') {
    float: left;
    width: 50%;
  }
}

.woocommerce-order-details {
  @include media('>medium') {
    padding-right: $space;
  }

  > table.woocommerce-table--order-details tr {
    th, td {
      padding: 0 0 $space-fourth 0;
      width: 50%;
      border: 0;

      &:last-child {
        padding-left: $space;
      }
    }
  }
}

.woocommerce-customer-details {
  @include media('>medium') {
    padding-left: $space;
  }

  &::after {
    clear: both;
    display: block;
    content: "";
  }
}

.woocommerce-order-downloads {
  .button {
    white-space: nowrap;
  }

  > table.woocommerce-table--order-downloads {
    border: 0;
    border-collapse: collapse;
    margin-top: $space;

    tr {
      border: 0;

      @include media('<=medium') {
        display: flex;
        flex-direction: column;
      }
    }

    tr > th {
      background: $c-black;
      color: white;
      white-space: nowrap;

      @include media('<=medium') {
        display: none;
      }
    }

    tr > td {
      background-color: white;
      width: 100%;

      @include media('<=medium') {
        border: none;
        border-bottom: $border--standard;
        position: relative;
        padding-left: 50%;
        padding-top: $space;
        padding-bottom: $space;

        &::before {
          position: absolute;
          top: 50%;
          left: $space-half;
          transform: translateY(-50%);
          width: calc(50% - $space-half);
          padding-right: $space-half;
          content: attr(data-title);
          @include o-heading__secondary--s;
        }

        &:last-child {
          padding-left: $space-half;

          &::before {
            display: none;
          }

          a {
            width: 100%;
          }
        }
      }
    }
  }
}

.checkout-button {
  margin-top: $space;
}

.woocommerce-terms-and-conditions {
  border: $border--standard;
  padding: $space;
}

.woocommerce-privacy-policy-text {
  margin-bottom: $space;
}