{% if post._regular_price or post._sale_price or post._price %}
  <div class="o-price">
    {% if post._regular_price and post._sale_price %}
      <span class="o-price__regular"><s>{{ '$' ~ post._regular_price }}</s></span>
      <span class="o-price__sale u-space--quarter--left">{{ '$' ~ post._sale_price }}</span>
    {% else %}
      <span class="o-price__regular">{{ '$' ~ post._price }}</span>
    {% endif %}
  </div>
{% endif %}