/* ------------------------------------ *\
    $VARIABLES
\* ------------------------------------ */

/**
 * Common Breakpoints
 */
$xsmall: 400px;
$small: 550px;
$medium: 700px;
$large: 850px;
$xlarge: 1000px;
$xxlarge: 1200px;
$xxxlarge: 1400px;

$breakpoints: ("xsmall": $xsmall, "small": $small, "medium": $medium, "large": $large, "xlarge": $xlarge, "xxlarge": $xxlarge, "xxxlarge": $xxxlarge);

/**
 * Grid & Baseline Setup
 */
// Global
$max-width: 1200px;
$max-width-xl: 1600px;

// Grid
$grid-columns: 12;
$gutter: 20px;

/**
 * Colors
 */

// Neutrals
$c-white: #fff;
$c-gray--lighter: #f3f3f3;
$c-gray--light: #adadad;
$c-gray: #5f5f5f;
$c-gray--dark: #c0c1c5;
$c-black: #000;

// Theme
$c-primary: #ef4438;
$c-secondary: #fbc617;
$c-tertiary: #d1d628;
$c-quaternary: #787b19;

// Default
$c-error: #f00;
$c-valid: #089e00;
$c-warning: #fff664;
$c-information: #000db5;
$c-overlay: rgba($c-black, 0.6);

/**
 * Style
 */
$c-body-color: $c-black;
$c-link-color: $c-primary;
$c-link-hover-color: darken($c-primary, 20%);
$c-border: $c-black;

/**
 * Border
 */
$border-radius: 3px;
$border-radius--hard: 6px;
$border--standard: 2px solid $c-border;
$border--standard-light: 1px solid $c-gray--lighter;
$box-shadow--standard: 0px 4px 12px rgba($c-black, 0.05);
$box-shadow--thick: 0px 8px 24px rgba($c-black, 0.2);

/**
 * Typography
 */
$ff-font: "Roboto", sans-serif;
$ff-font--sans: $ff-font;
$ff-font--serif: serif;
$ff-font--monospace: Menlo, Monaco, "Courier New", "Courier", monospace;

// Theme typefaces
$ff-font--primary: "Oswald", sans-serif;
$ff-font--secondary: "Roboto", arial, sans-serif;
$ff-font--tertiary: "Go Bold", sans-serif;

/**
 * Font Sizes
 */

/**
 * Native Custom Properties
 */
:root {
  --body-font-size: 16px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 26px;
  --font-size-xl: 40px;
}

// Medium Breakpoint
@media screen and (min-width: 700px) {
  :root {
    --font-size-l: 36px;
    --font-size-xl: 60px;
  }
}

// xLarge Breakpoint
@media screen and (min-width: 1200px) {
  :root {
    --font-size-l: 40px;
    --font-size-xl: 120px;
  }
}

$body-font-size: var(--body-font-size, 16px);
$font-size-xs: var(--font-size-xs, 14px);
$font-size-s: var(--font-size-s, 16px);
$font-size-m: var(--font-size-m, 18px);
$font-size-l: var(--font-size-l, 40px);
$font-size-xl: var(--font-size-xl, 120px);

/**
 * Icons
 */
$icon-xsmall: 15px;
$icon-small: 20px;
$icon-medium: 30px;
$icon-large: 40px;
$icon-xlarge: 70px;

/**
 * Animation
 */
$transition-effect: cubic-bezier(0.86, 0, 0.07, 1);
$transition-all: all 0.23s $transition-effect;

/**
 * Default Spacing/Padding
 * Maintain a spacing system divisible by 10
 */
$space: 20px;
$space-quarter: $space / 4;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-double-half: $space * 2.5;
$space-triple: $space * 3;
$space-quad: $space * 4;

/**
 * Z-index
 */
$z-index-vanish: -1;
$z-index-none: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-5: 500;
$z-index-10: 1000;
$z-index-15: 1500;
$z-index-30: 3000;
$z-index-50: 5000;
$z-index-75: 7500;
$z-index-100: 10000;
$z-index-mq-display: $z-index-100;
$z-index-menu-toggle: $z-index-100;
