/* ------------------------------------ *\
    $MIXINS
\* ------------------------------------ */

/**
 * Standard paragraph
 */
@mixin p {
  line-height: 1.5;
  font-family: $ff-font;
  font-size: $body-font-size;

  @media print {
    font-size: 12px;
    line-height: 1.3;
  }
}

/**
 * String interpolation function for SASS variables in SVG Image URI's
 */
@function url-friendly-color($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

/**
 * Quote icon
 */
@mixin icon-quotes($color) {
  background-repeat: no-repeat;
  background-size: $icon-large $icon-large;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300.01 201.04"><title>Quotes</title><path d="M233.67,66.67c36.67,0,66.33,30,66.33,66.67a66.67,66.67,0,1,1-133.32,2.07c0-.52,0-1,0-1.55v-.52A133.3,133.3,0,0,1,299.93,0H300S256.33,16.33,233.67,66.67ZM133.33,133.33A66.67,66.67,0,1,1,0,135.4c0-.52,0-1,0-1.55v-.52H0A133.31,133.31,0,0,1,133.27,0h.07S89.67,16.33,67,66.67C103.67,66.67,133.33,96.67,133.33,133.33Z" fill="#{$color}"/></svg>');
}
