/* ------------------------------------*\
    $FORMS
\*------------------------------------ */
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

legend {
  font-weight: bold;
  margin-bottom: $space-and-half;
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

label {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  line-height: 1.5;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  border: 1px solid $border-color;
  background-color: $white;
  width: 100%;
  outline: 0;
  display: block;
  transition: all 0.5s $cubic-bezier;
  padding: $pad-half;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Form Field Container
 */
.field-container {
  margin-bottom: $space;
}

/**
 * Validation
 */
.has-error {
  border-color: $error;
}

.is-valid {
  border-color: $valid;
}
