/* ------------------------------------*\
    $TABLES
\*------------------------------------ */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $gray-light;
  width: 100%;
}

tr {
  border: 1px solid transparent;

  &:nth-child(even) {
    background: rgba(black, 0.05);
  }
}

th {
  text-align: left;
  vertical-align: top;
  color: white;
  background-color: $black;

  @include font--primary--xs;
}

td,
th {
  border: 1px solid transparent;
  padding: $space / 2;
}

/**
 * Responsive Table
 */
.c-table--responsive {
  border: 1px solid $gray-light;
  border-collapse: collapse;
  padding: 0;
  width: 100%;

  tr {
    border: 1px solid $gray-light;
    background-color: $gray-light;
  }

  th,
  td {
    padding: $space / 2;
  }

  th {
    text-transform: uppercase;
    border-bottom: 1px solid $gray-light;
  }

  @include media("<=medium") {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid $gray-light;
      display: block;
      margin-bottom: $space / 2;

      &.this-is-active {
        td:not(:first-child) {
          display: flex;
        }

        td:first-child::before {
          content: "- " attr(data-label);
        }
      }
    }

    td {
      border-bottom: 1px solid $gray-light;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;

      &:first-child {
        cursor: pointer;

        &::before {
          content: "+ " attr(data-label);
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &:not(:first-child) {
        display: none;
      }

      &::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
