/* ------------------------------------*\
    $ARTICLE
\*------------------------------------ */

.article__picture {
  img {
    margin: 0 auto;
    display: block;
  }
}

.article__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: $pad;

  @include media(">medium") {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.article__category {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;

  > * {
    width: 50%;
    line-height: 1.6;
  }

  > span {
    padding-right: $pad;
    min-width: rem(120);
    text-align: right;
  }

  @include media(">medium") {
    flex-direction: column;
    text-align: center;
    width: auto;

    > * {
      width: auto;
    }

    span {
      padding-right: 0;
      text-align: center;
      margin-bottom: rem(5);
    }
  }
}

.article__content--left {
  .divider {
    margin: $space-half auto;
  }
}

.article__content--right {
  height: auto;

  .yarpp-related {
    display: none;
  }
}

.article__image {
  margin-left: -$space;
  margin-right: -$space;

  @include media(">medium") {
    margin-left: 0;
    margin-right: 0;
  }
}

.article__toolbar {
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  height: rem(40);
  background: white;
  padding: 0 $pad;
  z-index: 9999;

  @include media(">medium") {
    display: none;
  }


  .block__toolbar--right {
    display: flex;
    align-items: center;

    a {
      line-height: rem(40);
    }

    .icon {
      width: rem(10);
      height: rem(20);
      position: relative;
      top: rem(1);
      margin-left: $space-half;
    }
  }

  .block__toolbar-item.block__toolbar-share {
    padding-right: $pad-half;
  }
}

.article__share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.article__share-link {
  transition: $transition;
  margin-left: auto;
  margin-right: auto !important;
  margin-bottom: 5px;

  &:hover {
    transform: scale(1.1);
  }
}

.article__share-work > div {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    margin-top: 0;
    margin-left: $space-half;
    margin-right: $space-half;
  }

  @include media(">medium") {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .article__share-title {
      display: block;
      width: 100%;
      margin-bottom: $space;
    }
  }
}

.article__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.article__nav--inner {
  width: calc(50% - 10px);
  text-align: center;

  @include media(">large") {
    width: calc(50% - 20px);
  }
}

.article__nav-item {
  width: 100%;
  text-align: center;

  &.previous {
    .icon {
      float: left;
    }
  }

  &.next {
    .icon {
      float: right;
    }
  }
}

.article__nav-item-label {
  position: relative;
  height: rem(28.8);
  line-height: rem(28.8);
  margin-bottom: $space-half;

  .icon {
    z-index: 2;
    height: rem(28.8);
    width: rem(15);
  }

  font {
    background: $background-color;
    padding-left: $pad-half;
    padding-right: $pad-half;
    z-index: 2;
  }

  &::after {
    width: 100%;
    height: rem(1);
    background-color: $black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: block;
    z-index: -1;
  }
}

ol,
ul {
  .article__body &,
  .rich-text & {
    margin-left: 0;

    li {
      list-style: none;
      padding-left: $pad;
      text-indent: rem(-10);

      &::before {
        color: $primary-color;
        width: rem(10);
        display: inline-block;
      }

      li {
        list-style: none;
      }
    }
  }
}

ol {
  .article__body &,
  .rich-text & {
    counter-reset: item;

    li {
      &::before {
        content: counter(item) ". ";
        counter-increment: item;
      }

      li {
        counter-reset: item;

        &::before {
          content: "\002010";
        }
      }
    }
  }
}

ul {
  .article__body &,
  .rich-text & {
    li {
      &::before {
        content: "\002022";
      }

      li {
        &::before {
          content: "\0025E6";
        }
      }
    }
  }
}

article {
  margin-left: auto;
  margin-right: auto;

  p a,
  li a {
    text-decoration: underline !important;
  }

  li p {
    margin-top: $space;
    text-indent: 0;
  }
}

.article__body,
.rich-text {
  p,
  ul,
  ol,
  dt,
  dd {
    @include p;
  }

  strong {
    font-weight: bold;
  }

  > p:empty,
  > h2:empty,
  > h3:empty {
    display: none;
  }

  > h1,
  > h2,
  > h3,
  > h4 {
    margin-top: $space-double;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2 {
    + * {
      margin-top: $space-and-half;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    + * {
      margin-top: $space-half;
    }
  }

  hr {
    height: rem(1);
    width: rem(60);
    background-color: $gray;
    display: block;
    margin: $space auto;
    padding: 0;
    border: none;
    outline: none;
  }

  img {
    height: auto;
  }

  figcaption {
    @include font--s;
  }

  figure {
    max-width: none;
    width: auto !important;
  }

  .wp-caption-text {
    display: block;
    line-height: 1.3;
    text-align: left;
  }

  .size-full {
    width: auto;
  }

  .size-thumbnail {
    max-width: rem(400);
    height: auto;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    figcaption {
      text-align: center;
    }
  }

  @include media(">small") {
    .alignleft,
    .alignright {
      min-width: 50%;
      max-width: 50%;

      img {
        width: 100%;
      }
    }

    .alignleft {
      float: left;
      margin: $space-and-half $space-and-half 0 0;
    }

    .alignright {
      float: right;
      margin: $space-and-half 0 0 $space-and-half;
    }
  }
}
