/* ------------------------------------*\
    $ICONS
\*------------------------------------ */
.icon {
  display: inline-block;
}

.icon--xs {
  width: $icon-xsmall;
  height: $icon-xsmall;
}

.icon--s {
  width: $icon-small;
  height: $icon-small;
}

.icon--m,
.icon--m > * {
  width: $icon-medium;
  height: $icon-medium;
}

.icon--l {
  width: $icon-large;
  height: $icon-large;
}

.icon--xl {
  width: $icon-xlarge;
  height: $icon-xlarge;
}

.icon--arrow {
  background: url("../../assets/images/arrow--carousel.svg") center center no-repeat;
}

.icon--arrow.icon--arrow-prev {
  transform: rotate(180deg);
}
