/* ------------------------------------*\
    $NAVIGATION
\*------------------------------------ */

.nav__primary {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid $gray-light;

  @include media(">large") {
    justify-content: space-between;
  }


  .primary-nav__list {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @include media(">large") {
      display: flex;
    }
  }

  &-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: white;
    top: rem($small-header-height);
    box-shadow: 0 1px 2px rgba($black, 0.4);
  }
}

.primary-nav__list-item {
  &.current_page_item,
  &.current-menu-parent {
    > .primary-nav__link {
      color: $gray-med;
    }
  }
}

.primary-nav__link {
  padding: $pad;
  border-bottom: 1px solid $gray-light;
  width: 100%;
  text-align: left;
  font-family: $font-primary;
  font-weight: 500;
  font-size: rem(14);
  text-transform: uppercase;
  letter-spacing: rem(2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus {
    color: $primary-color;
  }

  @include media(">large") {
    padding: $pad;
    border: none;
  }
}

.primary-nav__subnav-list {
  display: none;
  background-color: rgba($gray-light, 0.4);

  @include media(">large") {
    position: absolute;
    width: 100%;
    min-width: rem(240);
    background-color: white;
    border-bottom: 1px solid $gray-light;
  }


  .primary-nav__link {
    padding-left: $pad-double;

    @include media(">large") {
      padding-left: $pad;
      border-top: 1px solid $gray-light;
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;

      &:hover {
        background-color: rgba($gray-light, 0.4);
      }
    }
  }
}

.primary-nav--with-subnav {
  position: relative;

  @include media(">large") {
    border: 1px solid transparent;
  }


  > .primary-nav__link::after {
    content: "";
    display: block;
    height: rem(10);
    width: rem(10);
    margin-left: rem(5);
    background: url("../../assets/images/arrow--down--small.svg") center center no-repeat;
  }

  &.this-is-active {
    > .primary-nav__link::after {
      transform: rotate(180deg);
    }

    .primary-nav__subnav-list {
      display: block;
    }

    @include media(">large") {
      border: 1px solid $gray-light;
    }
  }
}

.nav__toggle {
  position: absolute;
  padding-right: $space-half;
  top: 0;
  right: 0;
  width: rem($small-header-height);
  height: rem($small-header-height);
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
  transition: right 0.25s ease-in-out, opacity 0.2s ease-in-out;
  display: flex;
  z-index: 9999;

  .nav__toggle-span {
    margin-bottom: rem(5);
    position: relative;

    @include media(">medium") {
      transition: transform 0.25s ease;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav__toggle-span--1,
  .nav__toggle-span--2,
  .nav__toggle-span--3 {
    width: rem(40);
    height: rem(2);
    border-radius: rem(3);
    background-color: $primary-color;
    display: block;
  }

  .nav__toggle-span--1 {
    width: rem(20);
  }

  .nav__toggle-span--2 {
    width: rem(30);
  }

  .nav__toggle-span--4::after {
    font-size: rem(11);
    text-transform: uppercase;
    letter-spacing: 2.52px;
    content: "Menu";
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-top: rem(3);
    color: $primary-color;
  }

  @include media(">large") {
    display: none;
  }
}
