/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.section--padding {
  padding: $pad-double 0;
}

.section__main {
  padding-top: 0;
  padding-bottom: $space-double;
}

.section__hero {
  padding: $pad-double 0;
  min-height: rem(400);
  margin-top: rem(-40);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  margin-bottom: $space-quad;

  @include media(">large") {
    margin-top: rem(-60);
  }


  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $pad;
    max-width: rem(700);
    margin-left: auto;
    margin-right: auto;

    .divider {
      margin-top: $space;
      margin-bottom: $space-half;
    }
  }

  &.background-image--default {
    background-image: url("../../assets/images/hero-banner--mobile.jpg");

    @include media(">medium") {
      background-image: url("../../assets/images/hero-banner--tablet.jpg");
    }


    @include media(">xlarge") {
      background-image: url("../../assets/images/hero-banner.jpg");
    }
  }
}

.no-touch .section__hero {
  background-attachment: fixed;
}

.section__featured-about {
  text-align: center;
  background-image: url("../../assets/images/icon--hi.svg");
  background-position: top -20px center;
  background-repeat: no-repeat;
  background-size: 80% auto;

  .btn {
    margin-left: auto;
    margin-right: auto;
  }

  @include media(">medium") {
    text-align: left;
    background-size: auto 100%;
    background-position: center center;

    .divider {
      margin-left: 0;
    }

    .btn {
      margin-left: 0;
      margin-right: 0;
    }
  }


  .round {
    width: 100%;
    height: auto;
    position: relative;
    border: 0;
    border-radius: 50%;
    max-width: rem(420);
    margin: $space auto 0 auto;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.section__featured-work {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media(">medium") {
    flex-direction: row;
  }


  &--full-width {
    .block {
      width: 100%;

      @include media(">medium") {
        height: 400px;
      }


      @include media(">large") {
        height: 600px;
      }
    }
  }
}

.touch .section__favorites--mobile {
  display: block;
  margin-left: -$space;
  margin-right: -$space;
}

.no-touch .section__favorites--mobile {
  display: none;
}

.touch .section__favorites--desktop {
  display: none;
}

.no-touch .section__favorites--desktop {
  display: block;
}

/**
 * Section Body
 */
.section__body {
  > * {
    max-width: rem(700);
    margin-left: auto;
    margin-right: auto;
  }
}

.body {
  .section__body {
    > #sb_instagram {
      max-width: 100%;
    }
  }
}

/**
 * Accordion
 */

.accordion-item {
  padding-top: rem(15);

  &.is-active {
    .accordion-item__toggle {
      background: url("../../assets/images/icon--minus.svg") no-repeat center center;
    }

    .accordion-item__body {
      height: auto;
      opacity: 1;
      visibility: visible;
      padding-top: $pad;
      padding-bottom: $pad-double;
    }

    &:last-child {
      .accordion-item__body {
        padding-bottom: $pad-half;
      }
    }
  }
}

.accordion-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid $gray;
  padding-bottom: $pad-half;
}

.accordion-item__toggle {
  width: rem(20);
  height: rem(20);
  min-width: rem(20);
  background: url("../../assets/images/icon--plus.svg") no-repeat center center;
  background-size: rem(20);
  margin: 0 !important;
  position: relative;
}

.accordion-item__body {
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: relative;
  overflow: visible;
}

/**
 * Steps
 */
.step {
  counter-reset: item;
}

.step-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  counter-increment: item;
  margin-bottom: $space-double;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.step-item__number {
  width: rem(30);
  display: flex;
  flex-direction: column;
  justify-content: flex-starts;
  align-items: center;

  &::before {
    content: counter(item);
    font-size: rem(40);
    font-family: $serif;
    line-height: 0.5;
  }

  span {
    transform: rotate(-90deg);
    width: rem(130);
    height: rem(130);
    display: flex;
    align-items: center;

    &::after {
      content: "";
      width: rem(50);
      height: rem(1);
      background-color: $gray;
      display: block;
      margin-left: rem(5);
    }
  }

  @include media(">large") {
    width: rem(50);

    &::before {
      font-size: rem(80);
    }
  }
}

.step-item__content {
  width: calc(100% - 30px);
  padding-left: $pad-half;

  @include media(">large") {
    width: calc(100% - 50px);
    padding-left: $pad;
  }
}

/**
 * Comments
 */

.comment-reply-title {
  @include font--primary--xs;
}

.comments {
  width: 100%;

  .comment-author {
    img {
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: $space-half;
      width: rem(50);

      @include media(">medium") {
        width: 100%;
        width: rem(80);
        margin-right: $space;
      }
    }

    b,
    span {
      position: relative;
      top: rem(-3);
    }

    b {
      @include font--primary--s;
    }

    span {
      display: none;
    }
  }

  .comment-body {
    clear: left;
  }

  .comment-metadata {
    a {
      color: $gray-med;
    }

    @include font--s;
  }

  .comment-content {
    clear: left;
    padding-left: rem(60);

    @include media(">medium") {
      padding-left: rem(100);
      margin-top: $space;
      clear: none;
    }
  }

  .reply {
    padding-left: rem(60);
    color: $gray;
    margin-top: $space-half;

    @include font--primary--xs;

    @include media(">medium") {
      padding-left: rem(100);
    }
  }

  ol.comment-list {
    margin: 0;
    padding: 0;
    margin-bottom: $space;
    list-style-type: none;

    li {
      padding: 0;
      padding-top: $pad;
      margin-top: $space;
      border-top: 1px solid $border-color;
      text-indent: 0;

      &::before {
        display: none;
      }
    }

    ol.children {
      li {
        padding-left: $pad;
        border-left: 1px solid $gray-light;
        border-top: none;
        margin-left: rem(60);
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: $space;

        @include media(">medium") {
          margin-left: rem(100);
        }
      }
    }

    + .comment-respond {
      border-top: 1px solid $border-color;
      padding-top: $pad;
    }
  }
}

/**
 * Work
 */

.single-work {
  background-color: white;

  .main {
    padding-bottom: 0;
  }

  .section__hero {
    margin-bottom: 0;

    @include media("<=medium") {
      min-height: rem(300);
      max-height: rem(300);
    }


    + .section__main {
      position: relative;
      top: rem(-280);
      margin-bottom: rem(-280);
      padding-top: $space-double;
      padding-bottom: $space-double;

      @include media(">medium") {
        top: rem(-380);
        margin-bottom: rem(-380);
      }


      .article__header {
        h1,
        h2 {
          color: $white;
        }

        .divider {
          background-color: $white;
        }
      }
    }
  }
}

.work-item__title {
  position: relative;
  margin-top: $space * 3;
  margin-bottom: $space;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: rem(1);
    background-color: $border-color;
    z-index: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  span {
    position: relative;
    z-index: 1;
    display: table;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $pad-half;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pagination-item {
  width: 33.33%;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $pad-and-half;
  text-align: center;

  &:hover {
    background-color: $gray-light;
  }

  .icon {
    margin-bottom: $space;
  }

  &.all {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  &.next {
    .icon {
      transform: rotate(180deg);
    }
  }
}

/**
 * Gallery
 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -$space-half;
  margin-right: -$space-half;

  @include media("<=medium") {
    padding-left: $space-half;
    padding-right: $space-half;
  }


  @include media(">medium") {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }


  &__row {
    display: flex;
    flex-wrap: nowrap;

    @include media(">medium") {
      flex-wrap: wrap;
    }


    &.is-odd {
      flex-direction: row;

      @include media(">medium") {
        width: 50%;
      }
    }

    &.is-even {
      flex-direction: row-reverse;

      @include media(">medium") {
        flex-direction: row;
        width: 50%;
      }
    }

    @include media(">medium") {
      &:nth-child(4n),
      &:nth-child(4n - 1) {
        flex-direction: row-reverse;
      }
    }


    *:first-child {
      @include media("<=medium") {
        flex-basis: 66.66%;
      }
    }

    *:last-child {
      @include media("<=medium") {
        flex-basis: 33.33%;
      }
    }

    *:nth-child(even) {
      @include media(">medium") {
        flex-basis: 33.33%;
      }
    }

    *:nth-child(odd) {
      @include media(">medium") {
        flex-basis: 16.66%;
      }
    }
  }

  &__item {
    overflow: hidden;
    outline: $space-quarter solid $white;
    outline-offset: -$space-quarter;
    transition: 0.25s all ease;
    transform: scale(1);
    z-index: 1;
    position: relative;
    max-height: 600px;

    @include media(">medium") {
      height: 300px;
      max-height: 300px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      outline: $space-half solid $white;
      outline-offset: -$space-half;
      flex: 1;
    }


    img {
      width: 100%;

      @include media(">medium") {
        display: none;
      }
    }

    &:hover {
      outline: $space-half solid $black;
      z-index: 2;

      .gallery__item-caption {
        bottom: $space-half;
      }
    }

    &-caption {
      position: absolute;
      bottom: -50px;
      left: 0;
      width: calc(100% - #{$space});
      height: auto;
      padding: $space-quarter;
      background-color: rgba($black, 0.8);
      transition: bottom 0.25s $cubic-bezier;
      color: $white;
      margin: 0 $space-half;

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 12px;
        letter-spacing: normal;
      }
    }
  }
}
