/* ------------------------------------*\
    $TEXT TYPES
\*------------------------------------ */

/**
 * Text Main
 */
@mixin font--l {
  font-size: rem(80);
  line-height: 1;
  font-family: $font;
  font-weight: 400;
}

.font--l {
  @include font--l;
}

@mixin font--s {
  font-size: rem(14);
  line-height: rem(16);
  font-family: $font;
  font-weight: 400;
  font-style: italic;
}

.font--s {
  @include font--s;
}

.font--sans-serif {
  font-family: $sans-serif;
}

.font--sans-serif--small {
  font-size: rem(12);
  font-weight: 400;
}

small {
  display: block;
}

/**
 * Text Transforms
 */
.text-transform--upper {
  text-transform: uppercase;
}

.text-transform--lower {
  text-transform: lowercase;
}

.text-transform--capitalize {
  text-transform: capitalize;
}

/**
 * Text Decorations
 */
.text-decoration--underline {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Font Weights
 */
.font-weight--400 {
  font-weight: 400;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--600 {
  font-weight: 600;
}

.font-weight--700 {
  font-weight: 700;
}

.font-weight--900 {
  font-weight: 900;
}
