@import "tools.mixins";

/* ------------------------------------*\
    $VARIABLES
\*------------------------------------ */

/**
 * Grid & Baseline Setup
 */
$fontpx: 16;

// Font size (px) baseline applied to <body> and converted to %.
$defaultpx: 16;

// Browser default px used for media queries
$rembase: 16;

// 16px = 1.00rem
$max-width-px: 1300;
$max-width: rem($max-width-px) !default;

/**
 * Colors
 */
$white: #fff;
$black: #393939;
$off-white: #f7f8f3;
$gray: #979797;
$gray-light: #ececec;
$gray-med: #9b9b9b;
$bronze: #cd7232;
$tertiary-color: #24e0b0;
$error: #f00;
$valid: #089e00;
$warning: #fff664;
$information: #000db5;

/**
 * Style Colors
 */
$primary-color: $black;
$secondary-color: $white;
$primary-background-color: var(--c-primary, $black);
$secondary-background-color: var(--c-secondary, $black);
$tertiary-background-color: var(--c-tertiary, $black);
$background-color: $white;
$link-color: $primary-color;
$link-hover: $gray;
$button-color: $primary-color;
$button-hover: black;
$body-color: $black;
$border-color: $gray-light;
$overlay: rgba(25, 25, 25, 0.6);

/**
 * Typography
 */
$font: Georgia, Times, "Times New Roman", serif;
$font-primary: "Raleway", sans-serif;
$font-secondary: "Heritage", sans-serif;
$sans-serif: "Helvetica", "Arial", sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: Menlo, Monaco, "Courier New", "Courier", monospace;

/**
 * Amimation
 */
$cubic-bezier: cubic-bezier(0.885, -0.065, 0.085, 1.02);
$ease-bounce: cubic-bezier(0.3, -0.14, 0.68, 1.17);
$transition: all 0.25s ease;

/**
 * Default Spacing/Padding
 */
$space: 1.25rem;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-quad: $space * 4;
$space-half: $space / 2;
$pad: 1.25rem;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-half: $pad / 2;
$pad-quarter: $pad / 4;
$pad-triple: $pad * 3;
$pad-quad: $pad * 4;
$gutters: (mobile: 10, desktop: 10, super: 10);
$verticalspacing: (mobile: 20, desktop: 30);

/**
 * Icon Sizing
 */
$icon-xsmall: rem(15);
$icon-small: rem(20);
$icon-medium: rem(30);
$icon-large: rem(50);
$icon-xlarge: rem(80);

/**
 * Common Breakpoints
 */
$xsmall: 350px;
$small: 500px;
$medium: 700px;
$large: 900px;
$xlarge: 1100px;
$xxlarge: 1300px;
$xxxlarge: 1500px;

$breakpoints: ("xsmall": $xsmall, "small": $small, "medium": $medium, "large": $large, "xlarge": $xlarge, "xxlarge": $xxlarge, "xxxlarge": $xxxlarge);

/**
 * Element Specific Dimensions
 */
$article-max: rem(950);
$sidebar-width: 320;
$utility-header-height: 40;
$small-header-height: 60;
$large-header-height: 150;
