{# {% include "02-organisms/global/popup.twig" %} #}
<header role="banner" class="header">
  <div class="header__utility background-color--secondary is-fixed">
    <div class="header__utility--left">
      {% if options.mailchimp_url %}
        <a href="{{ options.mailchimp_url }}" target="_blank" rel="noopener" class="header__utility-mailing">
          <span class="icon icon--s space--half-right">
            {% include "00-atoms/icons/icon--email.twig" with { fill: "#fff" } %}
          </span>
          <span class="color--white font--primary--xs">Join our mailing list!</span>
        </a>
      {% endif %}
    </div>
    <div class="header__utility--right">
      <div class="header__utility-search">
        {% include "01-molecules/forms/form--search.twig" %}
      </div>
      <div class="header__utility-social">
        {% include "01-molecules/components/social-links.twig" %}
      </div>
    </div>
  </div>
  {% include "01-molecules/navigation/navigation.twig" %}
</header>
