{% if eyebrow.text or eyebrow.sponsored %}
  {% set eyebrow_base_class = eyebrow.base_class|default('o-eyebrow') %}

  <span class="{{ bem_classes(eyebrow_base_class, eyebrow.element, eyebrow.modifiers, eyebrow.extra) }}">
    {% if eyebrow.sponsored %}
      Sponsor Content{{ eyebrow.sponsor ? ': ' ~ eyebrow.sponsor }}
    {% else %}
      {{ eyebrow.text }}
    {% endif %}
  </span>
{% endif %}
