@mixin o-pullquote {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: $space-double 0;
  max-width: $max-width-m;
  text-align: center;

  p,
  & {
    @include o-heading__secondary--m;
    line-height: 1.75;
  }

  cite {
    display: block;
    margin-top: $space;

    @include o-heading__secondary--xs;
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto $space auto;
    height: $icon-large;
    width: $icon-large;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $icon-large $icon-large;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300.01 201.04'%3E%3Cpath d='M233.67,66.67c36.67,0,66.33,30,66.33,66.67a66.67,66.67,0,1,1-133.32,2.07c0-.52,0-1,0-1.55v-.52A133.3,133.3,0,0,1,299.93,0H300S256.33,16.33,233.67,66.67ZM133.33,133.33A66.67,66.67,0,1,1,0,135.4c0-.52,0-1,0-1.55v-.52H0A133.31,133.31,0,0,1,133.27,0h.07S89.67,16.33,67,66.67C103.67,66.67,133.33,96.67,133.33,133.33Z' fill='%23000000'/%3E%3C/svg%3E");
  }
}

.o-pullquote {
  @include o-pullquote;
}
