.o-kicker {
  @include o-heading__secondary--s;
  color: $c-secondary;

  &__link {
    padding-top: $space;
    padding-bottom: $space;
    margin-top: -$space;
    margin-bottom: -$space;

    &:hover,
    &:focus {
      color: $c-primary;
    }
  }
}
