.c-paint-colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media('>medium') {
    flex-direction: column;
    align-items: flex-start;
  }

  &__items {
    display: flex;
  }

  &__paint-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $space-half;
    text-align: center;
  }

  &__color {
    display: block;
    height: 90px;
    width: 90px;
    min-width: 90px;
    border-radius: 90px;
    border: $border--standard;
    margin-bottom: $space-half;
  }
}