{% if latest_posts %}
  <div class="feed--latest spacing">
    <h3 class="color--gray font--primary--xs">Latest Posts</h3>
    {% for post in latest_posts %}
      {% include "01-molecules/blocks/block--latest.twig"
        with {
          id: post.id,
          thumb_id: Image(post.thumbnail).id,
          image: Image(post.thumbnail).src,
          alt: Image(post.thumbnail).alt,
          title: post.title,
          link: post.link,
          date: post.date
        }
      %}
    {% endfor %}
  </div>
{% endif %}
