<div class="desktop-only is-sticky">
  <div class="widget">
    <h5 class="font--primary--xs color--black">Advertisements</h5>
    <hr />

    <!-- Sidebar Ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3133257559155527"
         data-ad-slot="5922592630"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>