<div class="desktop-only is-sticky">
  <div class="widget">
    <h5 class="font--primary--xs color--black">Advertisements</h5>
    <hr />

    {% include "01-molecules/ads/ad--sidebar.twig" %}
  </div>
</div>