<div class="desktop-only is-sticky">
  <div class="widget">
    <h5 class="font--primary--xs color--black">Advertisements</h5>
    <hr />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Sidebar Ad -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-3133257559155527"
         data-ad-slot="5922592630"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>