.o-ad {
  display: block;
  width: 100%;

  > * {
    margin: 0 auto !important;
    width: 100%;
    max-width: $max-width-l;
  }

  &--banner {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin: $space-double -50vw $space;
    position: relative;
    overflow: hidden;
  }

  &--sidebar {
    margin-bottom: $space;

    @include media('>xxlarge') {
      position: sticky;
      z-index: 2;
      top: 0;
      float: right;
      width: 320px;
      margin: 0 calc(-320px - #{$space-double}) 0 0;
    }
  }
}

.home,
.woocommerce-page {
  .o-ad {
    display: none;
  }
}