<article class="c-content c-content-front has-rellax">
  <div class="o-rte-text u-align--center js-inview" data-animation="animate__animated animate__fadeInUp">
    {{ post.content }}
  </div>
  {% include "02-molecules/rellax/rellax-pineapple.twig" %}
  {% include "02-molecules/rellax/rellax-jalapeno.twig" %}
</article>