<article class="c-content c-content-404 u-spacing--double">
  <h1 class="o-page-title">Something's gone wrong!</h1>
  <div class="l-container--l o-rte-text u-align--center">
    <p>Not to worry, why don't you try the link below:</p>
    {% include "01-atoms/buttons/button.twig"
      with {
        button: {
          url: '/',
          text: 'Go to homepage'
        }
      }
    %}
  </div>
</article>