{% if post.tags %}
  <div class="widget widget-tags">
    <h3 class="font--primary--xs">Tags</h3>
    <hr />
    <div class="tags">
      {% for tags in tag %}
        <div class="tag">
          <a href="{{ home_url('/') }}tag/{{ tag.slug }}">{{ tag.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}