/* ------------------------------------*\
    $DISPLAY STATES
\*------------------------------------ */

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.hide {
  display: none;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.screen-reader-text,
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.has-overlay {
  background: linear-gradient(rgba($black, 0.45));
}

/**
 * Display Classes
 */
.display--inline-block {
  display: inline-block;
}

.display--flex {
  display: flex;
}

.display--table {
  display: table;
}

.display--block {
  display: block;
}

.flex-justify--space-between {
  justify-content: space-between;
}

.flex-justify--center {
  justify-content: center;
}

.hide-until--s {
  @include media ('<=small') {
    display: none;
  }
}

.hide-until--m {
  @include media ('<=medium') {
    display: none;
  }
}

.hide-until--l {
  @include media ('<=large') {
    display: none;
  }
}

.hide-until--xl {
  @include media ('<=xlarge') {
    display: none;
  }
}

.hide-until--xxl {
  @include media ('<=xxlarge') {
    display: none;
  }
}

.hide-until--xxxl {
  @include media ('<=xxxlarge') {
    display: none;
  }
}

.hide-after--s {
  @include media ('>small') {
    display: none;
  }
}

.hide-after--m {
  @include media ('>medium') {
    display: none;
  }
}

.hide-after--l {
  @include media ('>large') {
    display: none;
  }
}

.hide-after--xl {
  @include media ('>xlarge') {
    display: none;
  }
}

.hide-after--xxl {
  @include media ('>xxlarge') {
    display: none;
  }
}

.hide-after--xxxl {
  @include media ('>xxxlarge') {
    display: none;
  }
}
