/* ------------------------------------*\
    $BLOCKS
\*------------------------------------ */
a.block__link {
  transition: none;
  width: 100%;
}

.block__post {
  padding: $pad $pad 0 $pad;
  border: 1px solid $gray-light;
  transition: all 0.25s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  text-align: center;

  &:hover,
  &:focus {
    border-color: $black;
    color: $black;
  }
}

.block__latest {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .block__link {
    display: flex;
    flex-direction: row;
  }

  .block__thumb {
    display: block;
    overflow: hidden;
    width: rem(80);
    height: rem(80);
    min-width: rem(80);
    border: 1px solid $gray-light;
  }
}

.block__service {
  border: 1px solid $gray-med;
  padding: $pad;
  color: $black;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media(">large") {
    padding: $pad-double;
  }


  &:hover {
    color: $black;
    border-color: $black;

    .btn {
      background-color: $black;
      color: white;
    }
  }

  p {
    margin-top: 0;
  }

  ul {
    margin-top: 0;

    li {
      font-style: italic;
      font-family: $serif;
      color: $gray-med;
      font-size: 90%;
    }
  }

  .btn {
    width: auto;
    padding-left: $pad;
    padding-right: $pad;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .round {
    border-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.block__featured {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  transition: all 0.25s ease;
  opacity: 1;
  bottom: 0;

  .block__content {
    display: block;
    padding: $pad-double;
    height: 100%;
    color: white;
    z-index: 2;
    margin: 0;
  }

  .block__button {
    position: absolute;
    bottom: rem(80);
    left: rem(-10);
    transform: rotate(-90deg);
    width: rem(110);
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
  }

  &::after {
    content: "";
    position: relative;
    padding-top: 50%;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }

    .block__button {
      bottom: rem(90);
    }
  }

  @include media(">medium") {
    width: 50%;
  }
}

.block__toolbar {
  border-top: 1px solid $border-color;
  margin-left: -$space;
  margin-right: -$space;
  margin-top: $space;
  padding: $pad-half $pad;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    text-align: left;
  }

  &--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.block__toolbar-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: $pad-half;
}

.block__toolbar-item.block__toolbar-share {
  padding-right: 0;
}

.block__favorite {
  padding: $pad-half;
}

/**
 * Tooltip
 */
.tooltip {
  cursor: pointer;
  position: relative;

  &.is-active {
    .tooltip-wrap {
      display: table;
    }
  }
}

.tooltip-wrap {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  width: 100%;
  height: auto;
  z-index: 99999;
  box-shadow: 1px 2px 3px rgba(black, 0.5);
}

.tooltip-item {
  padding: $pad;
  border-bottom: 1px solid $border-color;
  transition: all 0.25s ease;
  display: block;
  width: 100%;

  &:hover {
    background-color: $gray-light;
  }
}

.tooltip-close {
  border: none;

  &:hover {
    background-color: $black;
    font-size: rem(12);
  }
}

.no-touch {
  .tooltip-wrap {
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
  }
}

.wpulike {
  padding: 0;
}

.wpulike.wpulike-heart {
  .wp_ulike_general_class {
    text-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    position: relative;
    left: rem(-10);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wp_ulike_btn.wp_ulike_put_image {
    padding: rem(0) !important;
    width: rem(40);
    height: rem(40);
    border: none;

    &::after {
      padding: 0;
      background: url("../../assets/images/icon--like.svg") center center no-repeat;
      background-size: rem(20);
      filter: none;
    }
  }

  .wp_ulike_general_class.wp_ulike_is_unliked::after {
    background: url("../../assets/images/icon--like.svg") center center no-repeat;
    background-size: rem(20);
  }

  .wp_ulike_btn.wp_ulike_put_image.image-unlike,
  .wp_ulike_general_class.wp_ulike_is_already_liked a {
    background: url("../../assets/images/icon--liked.svg") center center no-repeat;
    background-size: rem(20);
  }

  .count-box {
    font-family: $sans-serif;
    font-size: rem(12);
    padding: 0;
    margin-left: rem(5);
    color: $gray;
    position: relative;
    left: rem(-10);
    margin-right: rem(-15);
  }
}
