.o-price {
  @include u-font--m;

  &__regular,
  &__sale {
    @include o-heading__primary--l;
  }

  &--sale {
    .o-price__regular {
      margin-right: $space-one-fourth;
      position: relative;
      @include u-font--m;

      &::before {
        content: "";
        position: absolute;
        width: calc(100% + 10px);
        height: 2px;
        left: -5px;
        top: calc(50% - 1px);
        background-color: $c-black;
        transform: rotate(5deg);
      }
    }
  }
}