<section class="section section__main">
  <div class="layout-container">
    <article class="article narrow--xl center-block spacing--double">
      {% include "02-organisms/sections/page-header.twig"
        with {
          post: {
            display_title: function('get_search_query'),
            title: "Search Results for",
            intro: found_posts ~ " total results found."
          }
        }
      %}
      <!-- <div class="posts layout-container narrow narrow--xl">
        <div class="grid grid--full">
          {% for post in posts %}
            {% include ['01-molecules/blocks/block--' ~ post.post_type ~ '.twig', '01-molecules/blocks/block.twig'] %}
          {% endfor %}
        </div>
      </div> -->
      {% if posts %}
        {{ function('do_shortcode', '[ajax_load_more search="'~ function('get_search_query') ~'" orderby="relevance" post_type="post, work, affiliate" container_type="div" transition_container_classes="grid grid--full" transition="fade" scroll="true" button_label="Show More Results" posts_per_page="12"]') }}
      {% else %}
        <p class="text-align--center space--zero">Sorry, no results were found.</p>
        {{ function('get_search_form') }}
      {% endif %}
    </article>
  </div>
</section>