{% if post.hero %}
  {% include "02-organisms/sections/section--hero.twig" %}
{% else %}
  {% include "02-organisms/sections/page-header.twig" %}
{% endif %}
{% if post.content or post.thumbnail %}
  <section class="section section__main">
    <div class="layout-container section__main--inner">
      <article class="article narrow spacing--double">
        <div class="article__body spacing">
          {% if post.thumbnail %}
            <picture class="block__thumb narrow narrow--l">
              <source srcset="{{ post.thumbnail.src|resize(800,450) }}" media="(min-width:500px)">
              <img src="{{ post.thumbnail.src|resize(500,280) }}" alt="{{ post.thumbnail.alt }}" />
            </picture>
          {% endif %}
          <div class="article__content spacing">
            {{ post.content }}
          </div>
        </div>
      </article>
    </div>
  </section>
{% endif %}
{% include '02-organisms/sections/section--filter.twig' %}
{% include "02-organisms/sections/page-sections.twig" %}
