{% if post.terms('tags') %}
  <div class="tags">
    {% for term in post.terms('tags') %}
      <span class="color--gray font--s">{{ term.name }}{% if not loop.last %}, {% endif %}</span>
    {% endfor %}
  </div>
{% endif %}