/* ------------------------------------*\
    $PRINT STYLES
\*------------------------------------ */

/* stylelint-disable */
@media print {
  .u-print-only {
    display: block;
  }

  @page {
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }

  body {
    max-height: fit-content;
    background: white;

    &::after {
      display: none;
    }
  }

  main {
    overflow: hidden;
    background-color: $c-white;
  }

  .c-content-single-plans {
    background: white;
    margin-top: 0;
  }

  .c-content-single-plans__container {
    > .c-page-header {
      margin-bottom: $space !important;
    }
  }

  nav {
    display: none;
  }

  .c-header {
    position: relative;

    &::before {
      background-color: $c-white;
    }
  }

  .c-stats + picture {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .o-dek {
    @include body-copy;
    max-width: 75%;
  }

  .o-link--small {
    text-decoration: none;

    &::after {
      content: ": " attr(href);
      color: $c-black;
      display: inline-flex;
      text-decoration: none;
      border: none;
    }
  }

  .c-accordion__heading {
    &::before,
    &::after {
      display: none;
    }
  }

  .c-intro + .c-content-single-plans__header,
  #material-list,
  #instructions {
    page-break-before: always;
  }

  table {
    page-break-inside: avoid;
  }

  .c-steps__item {
    page-break-after: always;
  }

  .c-intro {
    &__signature {
      max-width: 2in !important;
    }

    .o-icon {
      display: none;
    }
  }
}
