.c-newsletter-signup {
  &--footer {
    input {
      border-radius: 50px;
      background-color: transparent;
      border: 1px solid white;
      margin-bottom: $space;
      line-height: 1;
      color: white;

      &:focus {
        outline: 0;
        border-color: $c-tertiary;
      }

      &::placeholder {
        color: $c-white;
      }
    }
  }
}