{% set base_class = newsletter_signup.base_class|default('c-newsletter-signup-banner') %}

<section class="{{ bem_classes(base_class, newsletter_signup.element, newsletter_signup.modifiers, newsletter_signup.extra) }} l-container--full u-background-color--tertiary">
  <div class="{{ bem_classes(base_class, 'container') }} l-wrap l-container">
    {% include "@atoms/images/icons/icon.twig" with {
      "icon": {
        "title": "Newsletter",
        "name": "newsletter",
        "modifiers": "xxlarge",
        "extra": bem_classes(base_class, 'icon')
      }
    } %}
    <div class="{{ bem_classes(base_class, 'body') }}">
      {% include "@atoms/text/heading/heading.twig" with {
        "heading": {
          "level": "2",
          "size": "xl",
          "type": "primary",
          "text": options.newsletter_title,
          "extra": bem_classes(base_class, 'heading')
        }
      } %}
      {% include "@atoms/text/dek/dek.twig" with {
        "dek": {
          "text": options.newsletter_description,
          "modifiers": "large",
          "extra": bem_classes(base_class, 'dek')
        }
      } %}
    </div>
    {% include "@molecules/components/newsletter-signup/newsletter-signup-form.twig" with {
      "newsletter_signup": {
        "modifiers": "inline",
        "extra": bem_classes(base_class, 'form')
      }
    } %}
  </div>
</section>