/* ------------------------------------ *\
    $IMAGES
\* ------------------------------------ */

img,
video,
object,
svg,
iframe {
  max-width: 100%;
  border: none;
  display: block;
}

img {
  height: auto;
}

svg {
  max-height: 100%;
}

picture,
picture img {
  display: block;
}

figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

figcaption {
  a {
    display: block;
  }
}
