<article class="c-block-testimonial u-spacing js-inview" data-animation="animate__animated animate__fadeIn animate__faster">
  <p>{{ post.testimonial_body }}</p>
  <div class="c-block-testimonial__name">
    <h5>{{ post.testimonial_name }}</h5>
    <em class="u-color--gray"><small>{{ post.testimonial_description }}</small></em>
  </div>
</article>