.c-accordion {
  width: 100%;

  &__heading {
    background-color: $c-white;
    padding: $space-half $space-double $space-half 0;
    cursor: pointer;
    position: relative;
    border-bottom: $border--standard;

    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 20px;
      background-color: $c-black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      transition: $transition-all;
      transform: rotate(90deg);
    }
  }

  &__body {
    position: relative;
    background-color: $c-white;
    height: 0;
    overflow: hidden;
  }

  &__item {
    &.this-is-active {
      .c-accordion__heading::after {
        transform: rotate(0);
      }

      .c-accordion__body {
        height: auto;
        overflow: visible;
        padding: $space 0 $space-double 0;
      }
    }
  }

  &.is-open {
    .c-accordion__heading::after {
      transform: rotate(0);
    }

    .c-accordion__body {
      height: auto;
      overflow: visible;
      padding: $space 0 $space-double 0;
    }

    .this-is-active {
      .c-accordion__heading::after {
        transform: rotate(90deg);
      }

      .c-accordion__body {
        height: 0;
        padding: 0;
        overflow: hidden;
      }
    }
  }
}