<!doctype html>
<html class="l-html-party no-js" lang="en">
  {% include "02-organisms/global/head.twig" %}
  <body id="top" class="l-body l-body-party page-birthday-party__rsvp">
    <main class="main" role="document">
      <div class="layout-container">
        <article class="article spacing--double">
          <div class="article__title spacing--half">
            <h2 class="page-title color--white">We're so excited to celebrate with you!</h2>
            <p>Kindly respond by May 1, 2021</p>
          </div>
          <div class="article__body">
            {{ function('do_shortcode', '[contact-form-7 id="1847" title="Birthday RSVP"]') }}
            <p class="space--half-top">Have a question? Email me at <a href="mailto:kelscahill@gmail.com">kelscahill@gmail.com</a></p>
          </div>
        </article>
      </div>
    </main>
    {{ function('wp_footer') }}
  </body>
</html>