<!doctype html>
<html class="l-html-party no-js" lang="en">
  {% include "02-organisms/global/head.twig" %}
  <body id="top" class="l-body l-body-party page-birthday-party__invite">
    <main class="main" role="document">
      <div class="layout-container">

        <div class="article__alert">
          <small>Welcome to the circle of trust</small>
          <p>It&rsquo;s a surprise, so don&rsquo;t blow it!</p>
        </div>
        <article class="article spacing--double">
          <div class="article__title spacing--half">
            <h1 class="page-title color--white">Cheers & beers<br />to 60 years!</h1>
            <p>Join us to celebrate the birthday of this finely aged man. No gifts, please. More details below.</p>
          </div>
          <div class="article__body">
            <div class="person">
              <div class="person-row">
                <span class="kicker">60</span>
                <h3>Michael Cahill</h3>
                <p>June 12, 1961</p>
              </div>

            </div>
          </div>

          <div class="article__details">
            <div class="article__details--row">
              <h4>Location</h4>
              <p>Mike & Jody's House<br>
                604 Rt. 590<br>
                Lackawaxen, PA 18405
              </p>
            </div>
            <div class="article__details--row">
              <h4>Date</h4>
              <p>Saturday, June 12 2021</p>
            </div>
            <div class="article__details--row">
              <h4>Time</h4>
              <p>Please arrive at 2pm</p>
            </div>
          </div>
          <div class="article__buttons spacing">
            <a href="/birthday-party/rsvp" class="btn btn--red">Rsvp Now</a>
            <a href="/birthday-party" class="btn btn--outline">Decide Later</a>
          </div>
        </article>
      </div>
    </main>
    {{ function('wp_footer') }}
  </body>
</html>