{% set breadcrumbs_base_class = breadcrumbs.base_class|default('c-breadcrumbs') %}

{% if yoast_breadcrumbs %}
  {{ function('yoast_breadcrumb', '<nav class="c-breadcrumbs">','</nav>', false ) }}
{% else %}
  <nav role="navigation" class="{{ bem_classes(breadcrumbs_base_class) }}">
    {% for item in breadcrumbs %}
      {% if item.link %}
        {% include "@atoms/links/link.twig" with {
          "link": {
            "text": item.name,
            "url": item.link,
            "modifiers": "small",
            "extra": bem_classes(breadcrumbs_base_class, 'link')
          }
        } %}
      {% else %}
        <span>{{ item.name }}</span>
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
