<div class="header__nav main-nav background-color--white">
  <div class="nav__toggle toggle js-toggle-parent">
    <span class="nav__toggle-span nav__toggle-span--1"></span>
    <span class="nav__toggle-span nav__toggle-span--2"></span>
    <span class="nav__toggle-span nav__toggle-span--3"></span>
    <span class="nav__toggle-span nav__toggle-span--4"></span>
  </div>
  <nav class="nav__primary-mobile" role="navigation">
    {% if primary_nav_left.theme_location == "primary_nav_left" %}
      <ul class="primary-nav__list">
        {% for item in primary_nav_left.items %}
          {% include "00-atoms/text/navigation-item.twig" %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if primary_nav_right.theme_location == "primary_nav_right" %}
      <ul class="primary-nav__list">
        {% for item in primary_nav_right.items %}
          {% include "00-atoms/text/navigation-item.twig" %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <nav class="nav__primary background-color--primary" role="navigation">
    {% if primary_nav_left.theme_location == "primary_nav_left" %}
      <ul class="primary-nav__list">
        {% for item in primary_nav_left.items %}
          {% include "00-atoms/text/navigation-item.twig" %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if options.logo %}
      <div class="header__logo-wrap">
        <a href="{{ site.link }}" class="header__logo-link">
          <div class="header__logo">
            <img src="{{ Image(options.logo).src }}" alt="{{ site.name }}"/>
          </div>
        </a>
      </div>
    {% endif %}
    {% if primary_nav_right.theme_location == "primary_nav_right" %}
      <ul class="primary-nav__list">
        {% for item in primary_nav_right.items %}
          {% include "00-atoms/text/navigation-item.twig" %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
</div>