/*
 * General Mixins (put specific ones in component files where applicable)
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: $body-font-size;
  line-height: $line-height;
  letter-spacing: 0.25px;
}

p {
  @include body-copy;
}

@mixin u-font--m {
  font-family: $font-body;
  font-size: $font-size-m;
  line-height: $line-height;
}

.u-font--m {
  @include u-font--m;
}

@mixin u-font--s {
  font-family: $font-body;
  font-size: $font-size-s;
  line-height: $line-height-s;
}

.u-font--s {
  @include u-font--s;
}

@mixin u-font--xs {
  font-family: $font-body;
  font-size: $font-size-xs;
  line-height: $line-height;
}

.u-font--xs {
  @include u-font--xs;
}

/*
 * Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix.
*/
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/*
 * Aspect Ratio.
*/
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $height / $width * 100%;
    pointer-events: none;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*
 * Align center.
*/
@mixin align-center {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/*
 * Wrapper.
 * Outer container mixin for large screens.
*/
@mixin wrapper($max-width: $max-width-xl, $breakpoint: ">large", $v-margin: 0, $v-padding: 0, $h-padding: $space, $h-padding-large: $space-double) {
  max-width: #{$max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include media($breakpoint) {
    padding-left: #{$h-padding-large};
    padding-right: #{$h-padding-large};
  }
}

/*
 * Colors.
*/
$colors: ("primary": $c-primary, "secondary": $c-secondary, "tertiary": $c-tertiary, "white": $c-white, "black": $c-black, "gray": $c-gray);

$styles: ("background-color": "background-color", "color": "color", "path-fill": "fill");

@each $style_key, $style_value in $styles {
  @each $color_key, $color_value in $colors {
    .u-#{$style_key}--#{$color_key} {
      #{$style_value}: #{$color_value};
    }
  }
}

@mixin overlay--dark {
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.6);
    height: 100%;
    width: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
  }
}

.overlay--dark {
  @include overlay--dark;
}
