/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@mixin o-heading-link($color-link: currentColor, $color-link-hover: $c-secondary) {
  a {
    color: $color-link;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }
  }
}

/*
 * Primary Headings
*/

@mixin o-heading__primary--xxl {
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;

  @include o-heading-link;
}

.o-heading__primary--xxl,
h1 {
  @include o-heading__primary--xxl;
}

@mixin o-heading__primary--xl {
  font-family: $font-primary;
  font-size: $font-size-xl;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;

  @include o-heading-link;
}

.o-heading__primary--xl,
h2 {
  @include o-heading__primary--xl;
}

@mixin o-heading__primary--l {
  font-family: $font-primary;
  font-size: $font-size-l;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;

  @include o-heading-link;
}

.o-heading__primary--l,
h3 {
  @include o-heading__primary--l;
}

/*
 * Secondary Headings
*/
@mixin o-heading__secondary--m {
  font-family: $font-secondary;
  font-size: $font-size-m;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-2;
}

.o-heading__secondary--m,
h4 {
  @include o-heading__secondary--m;
}

@mixin o-heading__secondary--s {
  font-family: $font-secondary;
  font-size: $font-size-s;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-3;
}

.o-heading__secondary--s,
h5 {
  @include o-heading__secondary--s;
}

@mixin o-heading__secondary--xs {
  font-family: $font-secondary;
  font-size: $font-size-xs;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-2;
}

.o-heading__secondary--xs,
h6 {
  @include o-heading__secondary--xs;
}
