/* ------------------------------------*\
    $SPACING
\*------------------------------------ */

$sizes: ("": $space, --quarter: $space-quarter, --half: $space-half, --and-half: $space-and-half, --double: $space-double, --triple: $space-triple, --quad: $space-quadruple, --zero: 0);

$sides: ("": "", --top: "-top", --bottom: "-bottom", --left: "-left", --right: "-right");

@each $size_key, $size_value in $sizes {
  .u-spacing#{$size_key} {
    & > * + * {
      margin-top: #{$size_value};
    }
  }

  @each $side_key, $side_value in $sides {
    .u-padding#{$size_key}#{$side_key} {
      padding#{$side_value}: #{$size_value};
    }

    .u-space#{$size_key}#{$side_key} {
      margin#{$side_value}: #{$size_value};
    }
  }
}

.u-spacing--left {
  & > * + * {
    margin-left: $space;
  }
}
