/* ------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------ */

#wpadminbar {
  z-index: 1;
}

.search-filter-scroll-loading {
  margin: auto;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-hidden {
  display: none !important;
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js {
  &-hide {
    display: none;
  }
}

.js-toggle,
.js-toggle-parent {
  cursor: pointer;
}

/**
 * Misc
 */
.u-color--yellow--with-shadow {
 text-shadow: 1px 1px 0 $c-tertiary;
 color: $c-primary;
}

.u-border--top--black {
  border-top: 3px solid $c-black;
}

.u-border--thick--white {
  border: 10px solid $c-white;
}

.u-border--med--white {
  border: 3px solid $c-white;
}

.u-hover--bw-to-color {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;

  &:hover,
  &:focus {
    filter: grayscale(0);
  }
}

.u-background-cover {
  background-size: cover;
  background-position: center center;
}

.u-gradient--top--white {
  background: linear-gradient(white, $c-white);
}

/**
 * Center block
 */
.u-text-align--center {
  text-align: center;
}

.u-center-block {
  margin-left: auto;
  margin-right: auto;
}

.u-reversed-out {
  color: $c-white;

  p,
  h1 a,
  h2 a,
  h3 a {
    color: $c-white;
  }
}

.u-no-spacing {
  padding: 0;
  margin: 0;
}

.u-rounded {
  border-radius: 50%;
  overflow: hidden;
}

.u-text-transform--upper {
  text-transform: uppercase;
}
