/* Search Modal */
.c-search-modal {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $c-gray;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.25s $transition-effect, visibility 0.25s $transition-effect;
  padding-top: $space-quadruple;

  &::after {
    content: "";
    display: block;
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-position: right -10vw bottom -10vh;
    background-repeat: no-repeat;
    background-size: 100vw auto;

    @include media(">small") {
      background-size: auto 80vh;
    }
  }

  &__close {
    padding: $space;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: $c-black;

    .o-icon {
      transition: $transition-all;
      transform: scale(1);

      @include media("<=small") {
        width: 20px;
        height: 20px;
      }
    }

    &:hover,
    &:focus {
      color: $c-black;
      background-color: transparent;

      svg {
        transform: scale(1.1);
      }
    }
  }

  &__form {
    padding: 0 $space;
  }

  &.is-active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    z-index: 99999;
  }
}

body.search-is-active {
  overflow: hidden;

  .c-search-modal {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    z-index: 99999;
  }
}

/* Search Form */
.c-search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 80px;
  height: 80px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;

  input[type="text"] {
    height: 80px;
    font-size: $font-size-xl;
    padding: $space;
    outline: 0;
    border: 0;
    line-height: 1;

    &::placeholder {
      color: $c-tertiary;
    }

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  button {
    padding: 0;
    width: 80px;
    height: 80px;
    min-width: 80px;

    span:not(.o-icon) {
      display: none;
    }
  }
}
