.c-footer-nav {
  ul {
    list-style: none;
    margin-left: 0;
  }

  a {
    display: table;
    text-align: left;

    &:hover,
    &:focus {
      color: $c-tertiary;
    }
  }

  a[href='#'] {
    pointer-events: none;
  }

  &__parent-list {
    columns: 2 auto;
  }

  &__parent-list-item {
    break-inside: avoid;

    > a {
      @include o-heading__secondary--s;
    }
  }

  &__child-list {
    padding-left: $space;
    border-left: 1px solid $c-tertiary;
  }

  &__child-list-item {
    a {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: $c-tertiary;
        left: calc(-#{$space} - 4px);
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        visibility: hidden;
        transition: $transition-all;
      }

      &:hover,
      &:focus {
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}