<div class="hr"></div>
<div class="blog-footer">

    <a id="like"><div class="like"><i class="fa fa-heart-o"></i></div></a>
    <div id="output" class="like-count">1</div>

    <div class="share">
    <span class='st_sharethis_large' displayText='ShareThis'></span>
    </div>

    <div class="views"><i class="fa fa-eye"></i></div>
    <div class="views-count">54</div>
</div>
