
<footer class="footer">
	<div class="row row-1 contact">
		<div class="container-common">
			<article class="region region-1 ">
				<div class="page-title">
					<h2>Contact</h2>
					<span class="h1">Get in Touch</span>
					<p>Looking for help on your next project? Drop a line to discuss logos, websites, print pieces, how cute your dog is and everything in between!</p>
					<a href="/contact" class="btn btn-light">Let's Chat</a>
				</div>
			</article>
		</div>
	</div>

	<div class="row row-2 copyright">
		<div class="container-common">
			<article class="region region-1 col-sm-4">
				&copy; <script type="text/javascript">
				var today = new Date()
				var year = today.getFullYear()
				document.write(year)
				</script> | All Rights Reserved
			</article>
			
			<article class="region region-2 col-sm-4">
				<a class="scroll back-to-top" href="#top">
				<i class="fa fa-angle-up"></i><br />
				Back to Top</a>
			</article>

			<article class="region region-3 col-sm-4">
				<a href="https://www.facebook.com/CahillsCreative" target="_blank" class="facebook social-slide"></a>
				<a href="http://instagram.com/cahillscreative" target="_blank" class="instagram social-slide"></a>
				<a href="http://www.pinterest.com/cahillscreative/" target="_blank" class="pinterest social-slide"></a>
				<a href="/contact" target="_blank" class="email social-slide"></a>
			</article>
		</div>
	</div>

</footer>
