.c-card {
  position: relative;
  line-height: 1;
  display: flex;
  flex-direction: column;

  &--inner {
    background-color: $c-white;
    box-shadow: $box-shadow--standard;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content {
    padding: $space $space-and-half $space-and-half $space-and-half;
    position: relative;
    flex: 1;
  }

  &__price {
    margin-top: $space-one-fourth;
  }

  &__meta {
    .o-meta {
      &--with-image {
        margin-bottom: $space;
        margin-top: -52px;
      }

      &__image {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }

  &__meta + &__eyebrow {
    margin-top: $space;
  }

  &__eyebrow + &__kicker {
    margin-top: $space-one-fourth;
  }

  &__rich-text {
    margin-top: $space;

    .o-rich-text {
      @include u-font--m;

      font-size: 18px;
      color: $c-secondary;

      a:hover,
      a:focus {
        color: $c-secondary;
      }
    }
  }

  &__social-share {
    margin-top: $space;

    .o-link {
      margin-right: $space-half;
    }
  }

  &__links {
    padding: 0 $space-and-half $space-and-half $space-and-half;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;

    &.has-border {
      justify-content: center;
      padding: $space-half;

      &::before {
        content: "";
        width: 60%;
        height: 1px;
        background-color: $c-gray;
        margin: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/* Card - Newsletter */
.c-card--newsletter {
  cursor: pointer;

  &::after {
    @include o-heading__secondary--xs;

    content: "Add Newsletter  ";
    display: block;
    width: 100%;
    text-align: center;
    padding: $space-half;
    color: $c-white;
    background-color: $c-black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46.64 46.64'%3E%3Cpolygon points='46.64 17.91 28.73 17.91 28.73 0 25.83 0 17.91 0 17.91 17.91 0 17.91 0 28.73 17.91 28.73 17.91 46.64 25.83 46.64 28.73 46.64 28.73 28.73 46.64 28.73 46.64 17.91' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 23%;
    background-size: 10px 10px;
  }

  &.this-trigger-is-active::after {
    content: "Newsletter Added  ";
    background-color: $c-primary;
    color: $c-black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ctitle%3ECheck%3C/title%3E%3Cpath d='M10.43,25.65a1.63,1.63,0,0,0,1.19.5,1.65,1.65,0,0,0,1.19-.5L29,9.42a1.65,1.65,0,0,0,0-2.37l-2.69-2.7a1.67,1.67,0,0,0-1.19-.5,1.63,1.63,0,0,0-1.19.5L11.62,16.69,6,11.12a1.6,1.6,0,0,0-1.19-.51,1.64,1.64,0,0,0-1.19.51L1,13.81a1.67,1.67,0,0,0,0,2.38Z' fill='%23000' /%3E%3C/svg%3E%0A");
    background-position: center right 20%;
    background-size: 10px 10px;
  }
}

/* Card - Podcast */
.c-card-podcast {
  background-color: $c-white;
  border-bottom: $border--thick;
  padding: $space;
  display: flex;
  flex-direction: column;

  @include media(">medium") {
    flex-direction: row;
    padding: $space-and-half;
  }

  &__content {
    width: 100%;
  }


  &__image {
    width: 100%;
    height: auto;
    margin: 0 auto $space auto;

    @include media(">medium") {
      margin: 0 $space 0 0;
      max-width: 270px;
    }

    .o-picture::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(255,255,255,0) 50%,rgba(188,154,0,0.8) 100%);
    }
  }

  .o-meta {
    @include media(">medium") {
      text-align: right;
      margin-bottom: $space;
    }
  }
}

/* Card - Recirc */
.c-card-recirc {
  position: relative;
  cursor: pointer;
  transition: $transition-all;
  transform: scale(1.0001) translateZ(0);
  backface-visibility: hidden;
  background-color: $c-white;
  box-shadow: $box-shadow--standard;
  height: 100%;
  padding: $space;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &--with-image {
    .c-card-recirc__image {
      flex: 1;
      margin-right: $space;
      max-width: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    flex: 1;
  }

  &__meta {
    justify-content: flex-end;

    .o-meta {
      &__author {
        color: $c-gray;
      }

      strong {
        font-weight: 400;
      }
    }
  }

  &:hover {
    transform: scale(1.025);
  }
}

/* Card - Long Read */
.c-card--long-read {
  position: relative;
  padding-bottom: $space-quadruple;

  .c-card__meta {
    .o-meta {
      &--with-image {
        margin-bottom: $space-and-half;
        margin-top: -62px;

        @include media(">medium") {
          margin-top: -82px;
        }


        @include media(">large") {
          margin-top: -102px;
        }
      }

      &__image {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }

  .c-card__heading,
  .c-card__dek {
    text-align: center;
  }

  .c-card__dek {
    margin-top: $space-and-half;
  }

  .c-card__rich-text {
    margin-top: $space-and-half;

    .o-rich-text {
      @include body-copy;

      color: inherit;

      a:hover,
      a:focus {
        color: inherit;
      }
    }
  }

  .c-card__content {
    position: relative;

    @include media(">medium") {
      padding: $space-double;
    }


    @include media(">large") {
      padding: $space-triple;
    }


    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 400px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, 0), $c-white);
      pointer-events: none;
    }
  }

  .c-card__links {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    justify-content: flex-end;

    &::before {
      display: none;
    }
  }
}

/* Card - Promo */
.c-card--promo {
  .c-card__content {
    @include media(">medium") {
      padding: $space-double;
    }


    @include media(">large") {
      padding: $space-triple;
    }
  }

  .c-card__links {
    justify-content: flex-end;

    &::before {
      display: none;
    }
  }
}
