.c-card {
  background-color: white;
  display: flex;
  flex-direction: column;

  &__content {
    padding: $space;
    flex: 1;

    @include media('<=small') {
      padding: $space-half;
    }
  }

  &__footer {
    padding: $space;
    border-top: $border--standard;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<=small') {
      padding: $space-half;
    }
  }

  &__copy-link {
    color: $c-tertiary;
    text-decoration: none;

    .o-icon {
      @include media('<=small') {
        display: none;
      }
    }
  }

  .o-button {
    padding: 0;
    margin: 0;
    color: $c-black;
    background-color: transparent;
    box-shadow: none;

    @include o-heading__secondary--xs;

    &:hover,
    &:focus {
      color: $c-secondary;
    }
  }
}