{% if card %}
  {% set card_base_class = card.base_class|default('c-card') %}

  <div class="{{ bem_classes(card_base_class, card.element, card.modifiers, card.extra) }}" {{ add_attributes(card.attributes) }}>
    {% include "@atoms/images/image/figure.twig" with {
      "figure": {
        "link": {
          "url": card.link
        },
        "image": {
          "src": card.thumbnail.src|resize(330,330),
          "alt": card.thumbnail.alt
        },
        "extra": bem_classes(card_base_class, 'image')
      }
    } %}
    <div class="{{ bem_classes(card_base_class, 'content') }} u-spacing--half">
      {% include "@atoms/text/kicker/kicker.twig" with {
        "kicker": {
          "text": card.category,
          "link": card.category.link,
          "extra": bem_classes(card_base_class, 'kicker')
        }
      } %}
      {% include "@atoms/text/heading/heading.twig" with {
        "heading": {
          "level": "2",
          "size": "l",
          "type": "primary",
          "text": card.title,
          "link": {
            "url": card.link,
          },
          "extra": bem_classes(card_base_class, 'heading')
        }
      } %}
      {% include "@atoms/text/dek/dek.twig" with {
        "dek": {
          "text": card.preview.length(20).read_more(false),
          "extra": bem_classes(card_base_class, 'dek')
        }
      } %}
    </div>
    <div class="{{ bem_classes(card_base_class, 'footer') }}">
      {% include "@atoms/links/link.twig" with {
        "link": {
          "url": card.link,
          "text": "Read More",
          "modifiers": "alt",
          "extra": bem_classes(card_base_class, 'link')
        }
      } %}
      {% include "@atoms/text/meta/meta.twig" with {
        "meta": {
          "date": card.date,
          "extra": bem_classes(card_base_class, 'meta')
        }
      } %}
    </div>
  </div>
{% endif %}
