//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^cahillscreative.com[nc]
RewriteRule ^(.*)$ http://www.cahillscreative.com/$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 /portfolio-wood_working.html /wood-working

//301 Redirect Entire Directory
RedirectMatch 301 /(.*) /work//$1
 