<div class="row row-1">
	<div class="container-common">
		<div class="page-title">
			<h2><%- title %></h2>
			<h1>Let's Get Started</h1>
			<p>I’m always looking for new opportunities to create amazing things with even more amazing people. To learn more about Cahill’s Creative or to get moving on your next project, fill out the project inquiry form below. I look forward to hearing from you!</p>
		</div>
		<form id="contact-form" method="post" action="http://formspree.io/kelscahill@gmail.com">
			<div class="form-item left">
				<label>Name <span class="form-required">*</span></label>
				<input id="name" class="name" type="text" name="name" value="" size="60" maxlength="128" placeholder="Firstname & Lastname">
			</div>
			<div class="form-item right">
				<label>Company</label>
				<input id="company" class="company" type="text" name="company" value="" size="60" maxlength="128">
			</div>
			<div class="form-item left">
				<label>Phone <span class="form-required">*</span></label>
				<input id="phone" class="phone" type="text" name="phone" value="" size="60" maxlength="10" placeholder="(xxx) xxx-xxxx">
			</div>
			<div class="form-item right">
				<label>Email <span class="form-required">*</span></label>
				<input id="email" class="email" type="email" name="_replyto" size="60">
			</div>
			<div class="form-item left">
				<label>Budget <span class="form-required">*</span></label>
				<select id="budget" name="budget" class="budget">
					<option value="" selected="selected">- Select -</option>
					<option value="$100-$500">$100-$500</option>
					<option value="$500-$1,000">$500-$1,000</option>
					<option value="$1,000-$5,000">$1,000-$5,000</option>
					<option value="$5,000-$10,000">$5,000-$10,000</option>
					<option value="$10,000+">$10,000+</option>
					<option value="other">Other</option>
				</select>
			</div>
			<div class="form-item right">
				<label>Deadline </label>
				<input id="deadline" class="deadline" type="text" name="deadline" value="" size="60" maxlength="128" placeholder="xx/xx/xxxx" class="form-text">
			</div>
			<div class="form-item left">
				<label>Comment</label>
				<textarea id="comment" name="comment" cols="60" rows="200" class="form-textarea"></textarea>
			</div>
			<div class="form-item right">
				<label>Project</label>
				<div class="form-type-checkbox">
					<input type="checkbox" id="logo" name="logo" value="logo" >
					<label class="option first" for="logo">Logo/Identity</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="web-design" name="web-design" value="web-design" class="form-checkbox">
					<label class="option" for="web-design">Website Design</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="development" name="development" value="development" class="form-checkbox">
					<label class="option" for="development">Website Development</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="advertising" name="advertising" value="advertising" class="form-checkbox">
					<label class="option" for="advertising">Advertising (Print Or Digital)</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="marketing-materials" name="marketing-materials" value="marketing-materials" class="form-checkbox">
					<label class="option" for="marketing-materials">Marketing Materials</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="packaging" name="packaging" value="packaging" class="form-checkbox">
					<label class="option" for="packaging">Packaging</label>
				</div>
				<div class="form-type-checkbox">
					<input type="checkbox" id="other" name="other" value="other" class="form-checkbox">
					<label class="option" for="other">Other</label>
				</div>
			</div>
			<div style="clear:both;"></div>
			<input type="submit" name="submit" value="Let's Go!" class="submit">

			<input type="hidden" name="_subject" value="New submission on CahillsCreative.com!" />
			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_next" value="/thanks.html" />
		</form>
	</div><!-- end of container-common -->
</div><!-- end of row -->