<div class="row">
  <div class="container-common">

    <div class="page-title">
      <h2><%- title %></h2>
      <h1>You have questions. I have answers.</h1>
    </div>

    <div class="col-sm-6">

      <div class="question">
        <h2>How much do your projects cost?</h2>
        <p>It’s difficult to put a price on a project before I know the parameters. I prefer to provide you with a custom quote based on your project’s individual goals. <a href="<%- uri %>contact" alt="Contact Me">Contact me</a> directly if you’d like to discuss pricing further.</p>
      </div>

      <div class="question">
        <h2>What are your typical turnaround times?</h2>
        <p>Every project moves at different speeds, but is based on a tried-and-true method for completion. Check out <a href="<%- uri %>about#process" alt="My Process">my process</a> for more information on this topic.</p>
      </div>

      <div class="question">
        <h2>Do you help with printing?</h2>
        <p>I sure do. I work with some great printers who always produce great work.</p>
      </div>

      <div class="question">
        <h2>What do you need from me to start the project?</h2>
        <p>A signed agreement, a 50% deposit and any relevant files.</p>
      </div>

      <div class="question">
        <h2>Are your initial deposits refundable?</h2>
        <p>All deposits are nonrefundable. In my experience, clients who move forward without some type of deposit oftentimes drop off before a project is finished, or are not as invested as those who do. Your deposit not only reserves your project’s spot ahead of other viable projects, but it also ensures that everyone involved is motivated to keep things moving forward.</p>
      </div>

    </div><!-- end of left50 -->

    <div class="col-sm-6">

      <div class="question">
        <h2>How do you accept payment?</h2>
        <p>All projects require a 50% down payment prior to starting the job. This is payable by your choice of methods: bank transfer, PayPal, or check, in U.S. dollars. The remaining 50% is due upon completion of the project, prior to release of files. Depending on the duration of the project, I may allow for installment payments. All final details are included in our agreement.</p>
      </div>

      <div class="question">
        <h2>Do you provide hosting for the websites you design?</h2>
        <p>Hosting requires a much larger server than is feasible for me to maintain, but I can certainly point you in the direction of a number of great hosting services and even help guide you through the process of selecting which package is best for you. That being said, Cahill’s Creative is not responsible for server downtime, software issues or any other compatibility issue that may arise after the launch of the site.</p>
      </div>

      <div class="question last">
        <h2>Do you have office hours?</h2>
        <p>I am available Monday – Friday from 9am – 5pm EST and can be reached via email, telephone, carrier pigeon, etc. I typically respond anywhere from 24 to 72 business hours after I receive your email or phone call, depending on my current work load. For more in-depth discussions I prefer to schedule calls ahead of time in order to keep from having to cut our conversation short (and so I can properly set my DVR, if need be).</p>
      </div>

    </div><!-- end of right50 -->

  </div><!-- end of container-common -->
</div><!-- end of row -->