<div class="row">
	<div class="container-common">
		<div class="page-title">
			<h2>Store</h2>
			<span class="h1">Build your own furniture</span>
			<p>More products coming soon!</p>
		</div>
		<div class="inviewable block__row">
			<div class="block block--2up border--black trim inview-fadeIn delay-1">
				<div class="block-image">
					<img src="<%- imagesUri %>/work/wood_working/coffeetable-01.jpg" alt="Coffee Table"/>
				</div>
				<div class="content">
					<h4>DIY Coffee Table Plans</h4>
          <div class="divider"></div>
					<p>Build your own coffee table! The plans include a material cut list, a list of necessary tools & hardware, assembly directions, and dimensions. The overall dimensions of the coffee table are 54"L x 29"W x 18"H.</p>
          <div class="block-subtext">$29.95</div>
        </div>
				<a href="https://www.etsy.com/listing/493000306/hefty-rustic-coffee-table-plans" class="btn btn-dark" target="_blank">Buy Now</a>
			</div>
      <div class="block block--2up border--black trim inview-fadeIn delay-2">
				<div class="block-image">
					<img src="<%- imagesUri %>/work/wood_working/tvstand-01.jpg" alt="TV Stand"/>
				</div>
				<div class="content">
					<h4>DIY Pallet TV Stand Plans</h4>
          <div class="divider"></div>
					<p>Build your own pallet tv stand! The plans include a material cut list, a list of necessary tools & hardware, assembly directions, and dimensions. The overall dimensions of the tv stand are 45”W x 15”L x 21”H.</p>
          <div class="block-subtext">$29.95</div>
        </div>
				<a href="https://www.etsy.com/listing/270690202/rustic-pallet-tv-stand-plans" class="btn btn-dark" target="_blank">Buy Now</a>
			</div>
		</div>
	</div><!-- end of container-common -->
</div><!-- end of row -->
