<div class="row row-1">
	<div class="container-common">
		<div class="page-title">
			<h2>Contact</h2>
			<h1>Thank You</h1>
			<p>We will be in touch as soon as possible.</p>
		</div>
	</div><!-- end of container-common -->
</div><!-- end of row -->