.c-page-sections {
  padding-bottom: $space-quadruple;
}

.c-section-content {
  &__body {
    p {
      @include u-font--m;

      color: $c-secondary;
    }
  }
}

.c-section-employees {
  &__grid {
    grid-row-gap: $space-double;

    @include media(">medium") {
      grid-row-gap: $space-triple;
    }
  }
}

.c-section-locations {
  margin-top: $space-double;
  margin-bottom: $space-double;

  @include media(">medium") {
    margin-top: $space * 8;
    margin-bottom: $space * 8;
  }


  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba($c-white, 0.5);
    transform: skewY(-10deg) translateY(-50%);
    z-index: -1;
  }
}
