{% set page_sections_base_class = page_sections.base_class|default('c-page-sections') %}
{% set page_sections = post.meta('page_sections') %}

{% if page_sections %}
  <div class="{{ bem_classes(page_sections_base_class, page_sections.element, page_sections.modifiers, page_sections.extra) }} u-spacing--quad">
    {% for section in page_sections %}
      {% if section.acf_fc_layout == 'employees' %}
        {% include "@organisms/sections/page-sections/section-employees.twig" with section %}
      {% elseif section.acf_fc_layout == 'locations' %}
        {% include "@organisms/sections/page-sections/section-locations.twig" with section  %}
      {% elseif section.acf_fc_layout == 'content' %}
        {% include "@organisms/sections/page-sections/section-content.twig" with section %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}