{% set section_content_base_class = section_content.base_class|default('c-section-content') %}

{% if section.content %}
  <section class="{{ bem_classes(section_content_base_class, section_content.element, section_content.modifiers, section_content.extra ) }} l-wrap u-spacing--double">
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": {
        "level": "2",
        "size": "xxxl",
        "type": "secondary",
        "text": section.content_heading,
        "extra": "u-color--yellow--with-shadow u-text-align--center"
      }
    } %}
    <div class="{{ bem_classes(section_content_base_class, 'body') }} l-container l-container--gradient-white">
      {% include "@atoms/text/rich-text/rich-text.twig" with {
        "rich_text": {
          "text": section.content
        }
      } %}
    </div>
  </section>
{% endif %}