{% set section_locations_base_class = section_locations.base_class|default('c-section-locations') %}

{% if section.locations %}
  <section class="{{ bem_classes(section_locations_base_class, section_locations.element, section_locations.modifiers, section_locations.extra ) }} l-wrap u-spacing--double">
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": {
        "level": "2",
        "size": "xxxl",
        "type": "secondary",
        "text": section.locations_heading,
        "extra": "u-color--yellow--with-shadow u-text-align--center"
      }
    } %}
    <div class="{{ bem_classes(section_locations_base_class, 'grid') }} l-container l-container--gradient-white u-spacing--double">
      {% for item in section.locations %}
        {% include "@molecules/blocks/block-location.twig" with {
          "block_location": {
            "heading": {
              "level": "2",
              "type": "secondary",
              "size": "xxxl",
              "text": item.address.city ~ ', ' ~ item.address.state,
              "extra": "u-color--gray--light"
            },
            "image": {
              "id": Image(item.image).id,
              "src": Image(item.image).src|resize(960, 720)
            },
            "map": {
              "address": {
                "street_address_1": item.address.street_address_1,
                "street_address_2": item.address.street_address_2,
                "city": item.address.city,
                "state": {
                  "value": item.address.state
                },
                "zipcode": item.address.zipcode
              }
            }
          }
        } %}
      {% endfor %}
    </div>
  </section>
{% endif %}