{% set base_class = content_modal.base_class|default('c-content-modal') %}
{% if content_modal.title or content_modal.body %}
  <div class="{{ bem_classes(base_class, content_modal.element, content_modal.modifiers, content_modal.extra) }}">
    {% include "@atoms/buttons/button.twig" with {
      "button": {
        "extra": [
          bem_classes(base_class, 'close'),
          "js-toggle"
        ],
        "icon": {
          "name": "close",
          "modifiers": "medium"
        },
        "modifiers": "no-shadow",
        "attributes": {
          "aria-label": "Close",
          "data-toggled": "body",
          "data-prefix": "content-modal"
        }
      }
    } %}
    <div class="{{ bem_classes(base_class, 'content') }} u-spacing--half">
      {% if content_modal.title %}
        {% include "@atoms/text/heading/heading.twig" with {
          "heading": {
            "level": "2",
            "size": "l",
            "type": "primary",
            "text": content_modal.title,
            "extra": "u-text-align--center"
          }
        } %}
      {% endif %}
      <div class="{{ bem_classes(base_class, 'body') }}">
        {% block content_modal_body %}{% endblock %}
      </div>
    </div>
  </div>
{% endif %}