.o-rich-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-m;
  pointer-events: auto;

  > *:not(section) {

  }

  & > * + * {
    margin-top: $space;

    @include media('>medium') {
      margin-top: $space-and-half;
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    padding-top: $space;
    margin-bottom: -$space-half;
  }

  > *:first-child {
    margin-top: 0;
  }

  h2:empty,
  h3:empty,
  p:empty {
    display: none;
  }

  > p a,
  > a {
    @include o-link;
    display: unset;
  }

  > hr {
    @include o-hr--small;
    margin: $space-triple auto;
  }

  > ul,
  > ol {
    @include body-copy;
    margin-left: $space-double;
  }

  .wp-block-quote {
    @include o-blockquote;
  }

  .wp-block-pullquote {
    @include o-pullquote;
  }

  .wp-block-separator.is-style-wide {
    @include o-hr;
  }

  > .l-container--full {
    margin-top: 0;
    max-width: 100vw;
  }

  &--small {
    p,
    a {
      @include u-font--s;

      line-height: $line-height;
    }

    a {
      @include o-link;
    }
  }
}
