<!doctype html>
<html class="no-js" lang="en">
  {% include "02-organisms/global/head.twig" %}
  <body id="top" class="l-body{{ ' ' ~ body_class }}" data-template="base.twig">
    {% include "02-organisms/global/header.twig" %}
    <main class="main" role="document">
      {% block content %}{% endblock %}
    </main>
    {% include "02-organisms/global/footer.twig" %}
    {{ function('wp_footer') }}
  </body>
</html>