<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.24 18.24"><title>Search</title><path d="M18.1,17.39,14,13.28a8,8,0,1,0-.71.71l4.1,4.1a.5.5,0,0,0,.71-.71ZM8,15a7,7,0,1,1,7-7A7,7,0,0,1,8,15Z" fill="#393939"/></svg>
