{% if options.alert_text %}
  <div class="c-alert js-alert">
    <div class="c-alert__content">
      <p>
        {{ options.alert_text }}
        {% if options.alert_link %}
          {% include "01-atoms/buttons/link.twig"
            with {
              link: {
                url: options.alert_link.url,
                text: options.alert_link.title,
                target: options.alert_link.target
              }
            }
          %}
        </p>
      {% endif %}
    </div>
    <button aria-role="close" class="c-alert__close o-icon o-icon--small js-alert-close">
      <span class="o-icon o-icon--s">{% include "01-atoms/icons/close.twig" %}</span>
    </button>
  </div>
{% endif %}