{% if button %}
  <a href="{{ button.url }}" class="o-button{{ ' ' ~ button.class }}" target="{{ button.target ? button.target : '_self' }}">{{ button.text ? button.text : 'Learn More' }}</a>
{% endif %}