<div class="c-nav-drawer">
  <button class="c-nav-drawer__toggle js-toggle" data-toggled="l-body" data-prefix="menu" aria-label="Close">
    <span class="o-icon o-icon--s">{% include "01-atoms/icons/close.twig" %}</span>
  </button>
  <div class="c-nav-drawer__nav">
    {% include "02-molecules/navigation/nav-primary.twig" %}
  </div>
  <div class="c-nav-drawer__social">
    {% include "02-molecules/components/social-links.twig" %}
  </div>
</div>
