.o-disclaimer {
  padding: $space;
  background-color: white !important;
  max-width: $max-width-m;
  text-align: center;
  @include align-center;
  @include u-font--xs;

  a {
    margin-top: 0;
  }
}