{% set disclaimer_base_class = disclaimer.base_class|default('o-disclaimer') %}

{% if disclaimer or disclaimer.text %}
  <div class="{{ bem_classes(disclaimer_base_class) }}">
    {{ disclaimer }}
  </div>
{% endif %}
