<!doctype html>
<html class="no-js" {{ site.language_attribute }}>
  {% include "03-organisms/global/head.twig" %}
  <body class="{{ body_class }}" data-template="base.twig">
    {% include "03-organisms/global/header.twig" %}
    {% block sections_before %}{% endblock %}
    <div class="l-wrap" role="document">
      <main class="l-main">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% block sections_after %}{% endblock %}
    {% include "03-organisms/global/footer.twig" %}
    {{ function('wp_footer') }}
  </body>
</html>
