.c-footer {
  margin-top: $space-quadruple;
  clear: both;
  z-index: 999;

  &__main {
    padding-top: calc((#{$footer-logo} + #{$space-double}) / 2 + #{$space-double});
    padding-bottom: $space-double;
  }

  &__legal {
    padding-top: $space;
    padding-bottom: $space;
    border-top: 1px solid $c-tertiary;

    > div {
      @include media('<=medium') {
        row-gap: $space-half;
      }
    }
  }

  &__social {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .c-social-links {
      align-items: center;
      justify-content: center;

      @include media('>medium') {
        flex-direction: column;
      }

      a {
        @include media('>medium') {
          margin-right: 0;
          margin-top: $space;
        }
      }
    }
  }

  &__logo {
    position: relative;
    max-width: $footer-logo;
    margin-bottom: calc((-#{$footer-logo} - #{$space-double}) / 2);
    margin-left: auto;
    margin-right: auto;

    a {
      z-index: 1;
    }

    &::before {
      content: "";
      display: block;
      width: calc(#{$footer-logo} + #{$space-double});
      height: calc(#{$footer-logo} + #{$space-double});
      border-radius: calc(#{$footer-logo} + #{$space-double});
      position: absolute;
      top: -$space;
      left: -$space;
      background-color: $c-black;
      z-index: 0;
    }
  }

  &__copyright {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('>medium') {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__credit {
    text-align: center;

    @include media('>medium') {
      text-align: right;
    }

    a {
      text-decoration: underline;
    }
  }
}