{% set content_base_class = content.base_class|default('c-content') %}


<article class="{{ bem_classes(content_base_class) }} l-container u-spacing">
  {% include "@organisms/sections/page-headers/page-header.twig" with {
    "page_header": {
      "icon": {
        "title": post.icon|capitalize,
        "name": post.icon|lower|replace({' ': '-'})
      },
      "heading": {
        "text": post.title
      },
      "extra": bem_classes(content_base_class, 'header')
    }
  } %}
  {% if post.content %}
    <div class="{{ bem_classes(content_base_class, 'content') }}">
      {% include "@atoms/text/rich-text/rich-text.twig" with {
        "rich_text": {
          "text": post.content
        }
      } %}
    </div>
  {% endif %}
</article>
