{% set base_class = content_single.base_class|default('c-content-single-work') %}

<article class="{{ bem_classes(base_class, content_single.element, content_single.modifiers, content_single.extra) }} l-container">
  <div class="{{ bem_classes(base_class, 'container') }} l-container--m u-spacing--double">
    <div>
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "kicker": "Work",
          "heading": post.title,
          "extra": bem_classes(base_class, 'header')
        }
      } %}
      {% include "@molecules/navigation/tags/tags.twig" with {
        "tags_title": "Services",
        "tags": post.terms('work_tag')
      } %}
    </div>
    {% include "@atoms/text/rich-text/rich-text.twig" with {
      "rich_text": {
        "text": post.content,
        "extra": bem_classes(base_class, 'body'),
      }
    } %}
    {% if post.website_link %}
      {% include "@atoms/buttons/button.twig" with {
        "button": {
          "url": post.website_link,
          "text": post.website_link_text ? post.website_link_text : "Visit Website",
          "target": "_blank"
        }
      } %}
    {% endif %}
    {% include "@molecules/components/social/social-share/social-share.twig" with {
      "social_share": {
        "modifiers": "inline"
      }
    } %}
  </div>
  {% include "@molecules/components/work/work.twig" %}
</article>
