.c-progress-bar {
  margin: 0;
  padding: 0;
  position: sticky;
  width: 100%;
  top: calc(#{$header-utility-height} + #{$header-main-height});
  left: 0;
  display: flex;
  z-index: 996;

  progress {
    height: 10px;
    appearance: none;
    border: none;
    color: $c-primary;
    transition: $transition-all;
    background-color: $c-gray;

    &[value] {
      appearance: none;
      width: 100%;
      height: 10px;
      transition: all 0.15s ease;
      color: $c-primary;
    }

    &::-moz-progress-bar {
      background-color: $c-gray;
    }

    &::-webkit-progress-bar {
      background-color: $c-gray;
      width: 100%;
    }

    &::-webkit-progress-value {
      background: $c-primary;
    }
  }
}

.hide-progress-bar .c-progress-bar {
  display: none;
}
