<div class="block block__latest">
  <a href="{{ post.link }}" class="block__link">
    {% if post.thumbnail %}
      {% set image = Image(post.thumbnail) %}
      <picture class="block__thumb space--right">
        <img src="{{ image.src|resize(100,100) }}" alt="{{ image.alt }}">
      </picture>
    {% endif %}
    <div class="block__content">
      <div class="block__title font--primary--xs">
        {{ post.title }}
      </div>
      <div class="block__meta">
        {% include "00-atoms/text/entry-meta.twig" %}
      </div>
    </div>
  </a>
</div>