.c-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  transition: top 0.5s $transition-effect;
  width: 100%;
  z-index: 9999;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $c-primary;
  }

  &.hide {
    top: -70px;
  }

  &--inner {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-half $space;

    @include media('>large') {
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      padding: $space-half $space-double;
    }
  }

  &__logo {
    width: 100%;
    max-width: 250px;
    position: relative;
    margin: auto;

    @include media('>large') {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    a {
      padding: 0 $space-half;
    }
  }

  &__utility {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__button {
    display: none;
    margin-right: $space-half;
    box-shadow: none;

    @include media('>large') {
      display: flex;
    }
  }

  &__icon {
    position: relative;
    padding: $space-half;
    border-radius: 50px;

    svg path {
      fill: $c-black;
    }

    &:hover,
    &:focus {
      background-color: $c-white;
    }

    .o-add-to-cart-count {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 11px;
      margin: auto;
      text-align: center;
      font-size: 11px;
      line-height: 1;
    }
  }
}
