/* ------------------------------------ *\
    $FONTS
\* ------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Go Bold';
  src: url("../fonts/gobold_regular_italic-webfont.woff2") format("woff2"), url("../fonts/gobold_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
