/* ------------------------------------ *\
    $HEADINGS
\* ------------------------------------ */

@mixin o-heading--xl {
  font-family: $ff-font--primary;
  font-size: $font-size-xl;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: normal;
}

h1,
.o-heading--xl {
  @include o-heading--xl;
}

@mixin o-heading--l {
  font-family: $ff-font--primary;
  font-size: $font-size-l;
  font-style: normal;
  font-weight: 500;
  text-transform: inherit;
  line-height: 1.3;
  letter-spacing: normal;
}

h2,
.o-heading--l {
  @include o-heading--l;
}

@mixin o-heading--m {
  font-family: $ff-font--primary;
  font-size: $font-size-m;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3,
.o-heading--m {
  @include o-heading--m;
}

@mixin o-heading--s {
  font-family: $ff-font--primary;
  font-size: $font-size-s;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4,
.o-heading--s {
  @include o-heading--s;
}

@mixin o-heading--xs {
  font-family: $ff-font--primary;
  font-size: $font-size-xs;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h5,
.o-heading--xs {
  @include o-heading--xs;
}
