<form action="/" method="get" class="form form__search">
  <input placeholder="Search" type="text" name="s" value="{{ function('the_search_query') }}" />
  <button><span class="icon icon--s">{% include "00-atoms/icons/icon--search.twig" %}</span></button>
</form>
