<form action="{{ options.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form--inline space--half-top validate" target="_blank" rel="noopener" novalidate>
  <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="Email address" name="email"/>
  <button class="btn">Join</button>
</form>

