.c-page-header {
  background-color: $c-white;
  margin-top: $space;
  margin-bottom: $space;

  &__kicker {
    display: block;
  }

  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: $border--standard;
    background-color: $c-white;
  }
}