.c-page-header {
  width: 100%;
  margin: $space-double auto;
  background-color: $c-white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__kicker {
    display: block;
  }

  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: $border--standard;
    background-color: $c-white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: $icon-large;
      max-height: $icon-large;
    }
  }
}
