.c-article-share {
  position: fixed;
  right: $space-half;
  bottom: $space-half;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__links {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $space-half;
  }

  &__item,
  &__toggle {
    width: $icon-xlarge;
    height: $icon-xlarge;
    border-radius: $icon-large;
    padding: 0;
    box-shadow: none;
  }

  &__item {
    background-color: $c-black;
    color: $c-white;
    transform: translateX(60px);
    transition: $transition-all;

    &:hover,
    &:focus {
      color: $c-black;
      background-color: $c-primary;
    }
  }

  &__toggle {
    background-color: $c-white;
    color: $c-black;
    border: 2px solid $c-black;
    background: $c-white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43.41 38.33'%3E%3Cpath d='M43.11,12.29c-.06-.06-.09-.12-.15-.15L29.7.29c-.63-.53-1.1-.33-1.1.5v4.8a1.48,1.48,0,0,1-1.45,1.48H23A40.6,40.6,0,0,0,12.51,8.29,16.45,16.45,0,0,0,2.7,14.58,17.51,17.51,0,0,0,0,23.69C-.3,29,1.82,33.54,4,38.11H4c.06.06.12.09.18.15a.07.07,0,0,0,.09,0,.07.07,0,0,0,.09,0h.06a.89.89,0,0,0,.68,0h.06a1.21,1.21,0,0,0,.2-.33l.18-.56h0c.06-2.37-.15-4.75.06-7.09a13.16,13.16,0,0,1,.24-1.51v-.15l.06-.3a.38.38,0,0,0,0-.15l.09-.3s.12-.36.24-.77l.15-.36A9.74,9.74,0,0,1,9,22.94a12.31,12.31,0,0,1,6.25-2.65,77.34,77.34,0,0,1,13-.56h.09c.12,0,.2.68.2,1.48v4.08c0,.83.5,1,1.1.5L43,14.08a1.28,1.28,0,0,0,.16-1.8Z' fill='%23000'/%3E%3C/svg%3E") center center no-repeat;
    background-size: $icon-medium $icon-medium;

    span {
      display: none;
    }

    &:hover,
    &:focus {
      color: $c-black;
      background-color: $c-white;
    }
  }
}

body.article-share-is-active {
  .c-article-share__links {
    pointer-events: all;
  }

  .c-article-share__item {
    transform: translateX(0);
    box-shadow: none;
  }

  .c-article-share__toggle {
    background: $c-white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.71 25.71'%3E%3Cpath d='M25.71,1.94,23.77,0,12.85,10.91,1.94,0,0,1.94,10.92,12.85,0,23.77l1.94,1.94L12.85,14.79,23.77,25.71l1.94-1.94L14.79,12.85Z' fill='%23000'/%3E%3C/svg%3E") center center no-repeat;
    background-size: $icon-small $icon-small;
  }
}

@for $i from 10 to 1 {
  .c-article-share__item:nth-child(#{$i}) {
    transition-delay: $i * 0.0625s;
  }
}
