<div class="article__toolbar block__toolbar">
  <div class="block__toolbar--left">
    
    <div class="block__toolbar-item block__toolbar-share tooltip">
      <div class="block__toolbar-item block__toolbar-share tooltip-toggle js-toggle-parent">
        <span class="icon icon--s space--half-left">{% include "00-atoms/icons/icon--share.twig" %}</span>
      </div>
      {% include "01-molecules/components/share--tooltip.twig" %}
    </div>
  </div> {# ./block__toolbar--left #}
  <div class="block__toolbar--right">
    {% if post.next('category') %}
      <a href="{{ post.next('category').link }}" class="font--primary--xs">Next Item<span class="icon icon--s path-fill--black">{% include "00-atoms/icons/arrow--carousel.twig" %}</span></a>
    {% endif %}
  </div> {# ./block__toolbar--right #}
</div> {# ./block__toolbar #}