{% if post.meta('page_sections') %}
  <div class="page-sections spacing--quad space--quad-bottom">
    {% for key, section in post.meta('page_sections') %}
      {% if section.acf_fc_layout == 'promo_blocks_section' %}
        {% include "02-organisms/sections/section--promo-blocks.twig" %}
      {% elseif section.acf_fc_layout == 'accordion_section' %}
        {% include "02-organisms/sections/section--accordion.twig"  %}
      {% elseif section.acf_fc_layout == 'steps_section' %}
        {% include "02-organisms/sections/section--steps.twig" %}
      {% elseif section.acf_fc_layout == 'body_section' %}
        {% include "02-organisms/sections/section--body.twig" %}
      {% elseif section.acf_fc_layout == 'embed_section' %}
        {% include "02-organisms/sections/section--embed.twig" %}
      {% elseif section.acf_fc_layout == 'gallery_section' %}
        {% include "02-organisms/sections/section--gallery-grid.twig" %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}