<div class="page-header spacing text-align--center narrow narrow--m">
  {% if post.kicker %}
    <h2 class="page-kicker font--primary--s">{{ post.kicker|replace({'_': ' '}) }}</h2>
    <hr class="divider" />
  {% endif %}
  <h1 class="page-title">
    {% include "00-atoms/text/title.twig" %}
  </h1>
  {% if not post.kicker %}
    <hr class="divider" />
  {% endif %}
  {% if post.meta('intro') %}
    <div class="page-intro">
      {{ post.meta('intro') }}
    </div>
  {% elseif post.intro %}
    <div class="page-intro">
      {% filter shortcodes %}
        {{ post.intro }}
      {% endfilter %}
    </div>
  {% endif %}
</div>
