{% if section.steps %}
  <section class="section section__process layout-container narrow narrow--m spacing--double">
    {% include "01-molecules/components/section--header.twig"
      with {
        section_header: {
          kicker: section.steps_section_kicker,
          title: section.steps_section_title
        }
      }
    %}
    <div class="step">
      {% for item in section.steps %}
        <div class="step-item">
          <div class="step-item__number is-sticky"><span class="font--primary--xs color--gray">Step</span></div>
          <div class="step-item__content spacing">
            <h2 class="font--primary--s">{{ item.steps_title }}</h2>
            {{ item.steps_description }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "01-molecules/components/section--footer.twig"
      with {
        section_footer: {
          description: section.steps_section_description,
          button: section.steps_section_cta
        }
      }
    %}
  </section>
{% endif %}