<div class="body layout-container spacing--double">
  {% include "01-molecules/components/section--header.twig"
    with {
      section_header: {
        kicker: section.body_section_kicker,
        title: section.body_section_title
      }
    }
  %}
  {% include "01-molecules/components/section--body.twig"
    with {
      section_body: {
        description: section.body_section_description,
        button: section.body_section_cta
      }
    }
  %}
</div>
