.c-checkbox-list {
  list-style: none;
  margin-left: 0 !important;

  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .o-link {
      margin-left: $space-half;
      position: relative;
      top: -2px;
    }
  }
}