form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input,
select,
textarea {
  width: 100%;
  border: none;
  appearance: none;
}

label {
  @include u-font--xs;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=url],
select,
textarea {
  @include u-font--s;

  padding: 15px $space;
  box-shadow: none;
  border-radius: 0;
  border: $border--standard;

  &::placeholder {
    color: $c-tertiary;
  }

  &:focus {
    outline: none;
    border: 1px solid $c-primary;
  }
}

input[type=radio],
input[type=checkbox] {
  outline: none;
  margin: 0;
  margin-right: $space-half;
  height: 20px;
  width: 20px;
  line-height: 1;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  border: $border--standard;
  padding: 0;
  user-select: none;
  appearance: none;
  background-color: white;
  transition: background-color 0.25s $transition-effect;
}

input[type=radio] + label,
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
  line-height: 20px;
  overflow: hidden;
  text-transform: none;
  letter-spacing: normal;
  font-family: $font-primary;
  font-size: $font-size-xs;
  top: 2px;
  width: calc(100% - 30px);
}

input[type=checkbox]:checked {
  background: $c-primary url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M26.08,3.56l-2,1.95L10.61,19l-5-4L3.47,13.29,0,17.62l2.17,1.73L9.1,24.9,11,26.44l1.77-1.76L28.05,9.43,30,7.48Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 10px 10px;
  border-color: $c-primary;
}

input[type=radio]:checked {
  background: $c-primary url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M10,5A5,5,0,1,1,5,0,5,5,0,0,1,10,5Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 8px 8px;
  border-color: $c-primary;
}

input[type=checkbox] {
  border-radius: $border-radius-curve;
}

input[type=radio] {
  border-radius: 50px;
}

input[type=submit] {
  transition: $transition-all;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* removes the blue background on Chrome's autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

select {
  width: 100%;
  appearance: none;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: "";
  background: $c-white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 16.84'%3E%3Cpath d='M15,16.84a1.83,1.83,0,0,1-1.3-.54L.54,3.15A1.85,1.85,0,0,1,3.15.54L15,12.39,26.85.54a1.85,1.85,0,0,1,2.61,2.61L16.3,16.3A1.83,1.83,0,0,1,15,16.84Z' fill='%23222222'/%3E%3C/svg%3E") center right $space no-repeat;
  background-size: 10px 10px;
  padding-right: $space;

  &::-ms-expand {
    display: none;
  }
}

.o-form--inline {
  .o-fieldset {
    display: flex;

    input[type="email"] {
      width: calc(100% - 120px);
    }

    input[type="submit"] {
      width: 120px;
      margin-top: 0;
    }
  }
}

.sf-label-checkbox,
.sf-label-radio {
  padding: 0 !important;
}
