{% if testimonials %}
  <section id="testimonials" class="c-section-testimonials l-wrap u-spacing--double u-align--center has-rellax">
    {% include "02-molecules/rellax/rellax-habanero.twig" %}
    <div class="c-section-testimonials__heading u-spacing--half u-animation__delay">
      <h1 class="js-inview" data-animation="animate__animated animate__fadeInUp">What's the good word</h1>
      <h2 class="js-inview" data-animation="animate__animated animate__fadeIn">See what people are saying about Angry Duck™</h2>
    </div>
    <div class="c-section-testimonials__grid l-container--xl">
      <div class="js-slick-testimonials u-animation__delay">
        {% for post in testimonials %}
          {% include "02-molecules/blocks/block-testimonial.twig" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}