{% if related_products %}
  <div class="c-section-related-products u-spacing--double">
    <h2>Related Products</h2>
    <div class="c-section-related-products__grid u-animation__delay" bp="grid 6@sm 4@md">
      {% for post in related_products %}
        {% include ['02-molecules/blocks/block-'~post.post_type~'.twig', '02-molecules/blocks/block.twig'] %}
      {% endfor %}
    </div>
  </div>
{% endif %}