{% if featured_products %}
  <section id="shop" class="c-section-featured-products u-animation__delay">
    {% for post in featured_products %}
      {% include "02-molecules/blocks/block-featured-product.twig" %}
    {% endfor %}
  </section>
{% endif %}
