/* ------------------------------------*\
    $LINKS
\*------------------------------------ */
a {
  text-decoration: none;
  color: $link-color;
  transition: all 0.6s ease-out;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $link-hover;
  }

  p {
    color: $body-color;
  }
}
