/* ------------------------------------*\
    $GRIDS
\*------------------------------------ */

/**
 * Simple grid - keep adding more elements to the row until the max is hit
 * (based on the flex-basis for each item), then start new row.
 */

@mixin layout-in-column {
  margin-left: -1 * $space-half;
  margin-right: -1 * $space-half;
}

@mixin column-gutters() {
  padding-left: $pad-half;
  padding-right: $pad-half;
}

.grid {
  display: flex;
  display: inline-flex;
  flex-flow: row wrap;

  @include layout-in-column;
}

.grid-item {
  width: 100%;
  box-sizing: border-box;

  @include column-gutters();
}

/**
 * Fixed Gutters
 */
[class*="grid--"] {
  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .grid-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/**
* 1 to 2 column grid at 50% each.
*/
.grid--50-50 {
  > * {
    margin-bottom: $space;
  }

  @include media ('>medium') {
    > * {
      width: 50%;
      margin-bottom: 0;
    }
  }
}

/**
* 1t column 30%, 2nd column 70%.
*/
.grid--30-70 {
  width: 100%;
  margin: 0;

  > * {
    margin-bottom: $space;
    padding: 0;
  }

  @include media ('>medium') {
    > * {
      margin-bottom: 0;

      &:first-child {
        width: 40%;
        padding-left: 0;
        padding-right: $pad;
      }

      &:last-child {
        width: 60%;
        padding-right: 0;
        padding-left: $pad;
      }
    }
  }
}

/**
 * 3 column grid
 */
.grid--3-col {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  position: relative;

  > * {
    width: 100%;
    margin-bottom: $space;
  }

  @include media ('>small') {
    > * {
      width: 50%;
    }
  }

  @include media ('>large') {
    > * {
      width: 33.3333%;
    }
  }
}

.grid--3-col--at-small {
  > * {
    width: 100%;
  }

  @include media ('>small') {
    width: 100%;

    > * {
      width: 33.3333%;
    }
  }
}

/**
 * 4 column grid
 */
.grid--4-col {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  position: relative;

  > * {
    margin: $space-half 0;
  }

  @include media ('>medium') {
    > * {
      width: 50%;
    }
  }

  @include media ('>large') {
    > * {
      width: 25%;
    }
  }
}

/**
 * Full column grid
 */
.grid--full {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  position: relative;

  > * {
    margin: $space-half 0;
  }

  @include media ('>small') {
    width: 100%;

    > * {
      width: 50%;
    }
  }

  @include media ('>large') {
    > * {
      width: 33.33%;
    }
  }

  @include media ('>xlarge') {
    > * {
      width: 25%;
    }
  }
}
