/* ------------------------------------*\
    $SIDEBAR
\*------------------------------------ */

.widget-tags {
  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .tag {
      white-space: nowrap;
      line-height: 1.6;

      &::before {
        display: none;
      }
    }

    .tag::after {
      display: inline-block;
      content: ",";
      position: relative;
      left: -2px;
    }

    .tag:last-child::after {
      content: "";
    }
  }
}

.widget-mailing {
  form {
    input {
      border-color: $black;
      color: $black;
    }
  }

  button {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: black;
      color: $white;
    }
  }
}

.widget-related {
  .block {
    margin-bottom: $space;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
