/* ------------------------------------*\
    $FOOTER
\*------------------------------------ */

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: $pad-double 0 $pad 0;

  a {
    color: $white;
  }
}

.footer--inner {
  width: 100%;
}

.footer--left {
  @include media('>medium') {
    width: 50%;
  }

  @include media('>xlarge') {
    width: 33.33%;
  }
}

.footer--right {
  display: flex;
  flex-direction: column;

  > div {
    margin-top: $space-double;

    @include media('>medium') {
      margin-top: 0;
      width: 50%;
      flex-direction: row;
    }
  }

  @include media('>medium') {
    width: 50%;
    flex-direction: row;
  }

  @include media('>xlarge') {
    width: 66.67%;
  }
}

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--bottom {
    align-items: flex-start;
    padding-right: $pad-double;
  }

  @include media('>medium') {
    &--top {
      flex-direction: row;
    }
  }

  @include media('>large') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  padding-right: $pad;

  @include media('>large') {
    padding-right: $pad-double;
  }

  > * {
    margin-bottom: rem(15);
  }
}

.footer__nav-link {
  @include font--primary--s;

  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}

.footer__mailing {
  max-width: rem(355);

  input[type="text"] {
    background-color: transparent;
  }
}

.footer__copyright {
  text-align: left;
  order: 1;

  @include media('>large') {
    order: 0;
  }
}

.footer__social {
  order: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    padding: $pad-half;
    display: block;
    width: rem(40);
    height: auto;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footer__top {
  position: absolute;
  right: rem(-55);
  bottom: rem(60);
  padding: $pad-half $pad-half $pad-half $pad;
  display: block;
  width: rem(150);
  transform: rotate(-90deg);
  white-space: nowrap;

  .icon {
    height: auto;
    transition: margin-left 0.25s ease;
  }

  &:hover {
    .icon {
      margin-left: $space;
    }
  }

  @include media('>large') {
    bottom: rem(70);
  }
}
