/* ------------------------------------*\
    $SPACING
\*------------------------------------ */

// For more information on this spacing technique, please see:
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls.

.spacing {
  & > * + * {
    margin-top: $space;
  }
}

.spacing--quarter {
  & > * + * {
    margin-top: $space / 4;
  }
}

.spacing--half {
  & > * + * {
    margin-top: $space / 2;
  }
}

.spacing--one-and-half {
  & > * + * {
    margin-top: $space * 1.5;
  }
}

.spacing--double {
  & > * + * {
    margin-top: $space * 2;
  }
}

.spacing--triple {
  & > * + * {
    margin-top: $space * 3;
  }
}

.spacing--quad {
  & > * + * {
    margin-top: $space * 4;
  }
}

.spacing--zero {
  & > * + * {
    margin-top: 0;
  }
}

.space--top {
  margin-top: $space;
}

.space--bottom {
  margin-bottom: $space;
}

.space--left {
  margin-left: $space;
}

.space--right {
  margin-right: $space;
}

.space--half-top {
  margin-top: $space-half;
}

.space--quarter-bottom {
  margin-bottom: $space / 4;
}

.space--quarter-top {
  margin-top: $space / 4;
}

.space--half-bottom {
  margin-bottom: $space-half;
}

.space--half-left {
  margin-left: $space-half;
}

.space--half-right {
  margin-right: $space-half;
}

.space--double-bottom {
  margin-bottom: $space-double;
}

.space--double-top {
  margin-top: $space-double;
}

.space--double-left {
  margin-left: $space-double;
}

.space--double-right {
  margin-right: $space-double;
}

.space--triple-top {
  margin-top: $space * 3;
}

.space--triple-bottom {
  margin-bottom: $space * 3;
}

.space--quad-top {
  margin-top: $space * 4;
}

.space--quad-bottom {
  margin-bottom: $space * 4;
}

.space--zero {
  margin: 0;
}

/**
 * Padding
 */
.padding {
  padding: $pad;
}

.padding--quarter {
  padding: $pad / 4;
}

.padding--half {
  padding: $pad / 2;
}

.padding--one-and-half {
  padding: $pad * 1.5;
}

.padding--double {
  padding: $pad * 2;
}

.padding--triple {
  padding: $pad * 3;
}

.padding--quad {
  padding: $pad * 4;
}

// Padding Top
.padding--top {
  padding-top: $pad;
}

.padding--quarter-top {
  padding-top: $pad / 4;
}

.padding--half-top {
  padding-top: $pad / 2;
}

.padding--one-and-half-top {
  padding-top: $pad * 1.5;
}

.padding--double-top {
  padding-top: $pad * 2;
}

.padding--triple-top {
  padding-top: $pad * 3;
}

.padding--quad-top {
  padding-top: $pad * 4;
}

// Padding Bottom
.padding--bottom {
  padding-bottom: $pad;
}

.padding--quarter-bottom {
  padding-bottom: $pad / 4;
}

.padding--half-bottom {
  padding-bottom: $pad / 2;
}

.padding--one-and-half-bottom {
  padding-bottom: $pad * 1.5;
}

.padding--double-bottom {
  padding-bottom: $pad * 2;
}

.padding--triple-bottom {
  padding-bottom: $pad * 3;
}

.padding--quad-bottom {
  padding-bottom: $pad * 4;
}

.padding--right {
  padding-right: $pad;
}

.padding--half-right {
  padding-right: $pad / 2;
}

.padding--double-right {
  padding-right: $pad * 2;
}

.padding--left {
  padding-right: $pad;
}

.padding--half-left {
  padding-right: $pad / 2;
}

.padding--double-left {
  padding-left: $pad * 2;
}

.padding--zero {
  padding: 0;
}

.spacing--double--at-large {
  & > * + * {
    margin-top: $space;

    @include media(">large") {
      margin-top: $space * 2;
    }
  }
}
