/* ------------------------------------*\
    $BORDERS
\*------------------------------------ */

.border {
  border: 1px solid $border-color;
}

.divider {
  height: rem(1);
  width: rem(60);
  background-color: $black;
  display: block;
  margin: $space auto;
  padding: 0;

  @include media('>large') {
    margin: $space-double auto;
  }
}
