/* ------------------------------------*\
    $SIDEBAR
\*------------------------------------ */

.widget-tags {
  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .tag {
      white-space: nowrap;
    }

    .tag::before {
      content: ",";
      padding-left: rem(1);
      padding-right: rem(3);
    }

    .tag:first-child::before {
      content: "";
    }
  }
}

.widget-mailing {
  form {
    input {
      border-color: $black;
      color: $black;
    }
  }

  button {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: black;
      color: $white;
    }
  }
}

.widget-related {
  .block {
    margin-bottom: $space;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
