/* ------------------------------------*\
    $HEADER
\*------------------------------------ */

.header__utility {
  display: flex;
  height: rem($utility-header-height);
  width: 100%;
  position: fixed;
  z-index: 99;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  a:hover {
    opacity: 0.8;
  }
}

.header__utility--left {
  display: none;

  @include media('>large') {
    display: flex;
  }
}

.header__utility--right {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media('>large') {
    justify-content: flex-end;
    width: auto;
  }
}

.header__utility-search {
  width: 100%;
}

.header__utility-mailing {
  display: flex;
  align-items: center;
  padding-left: $pad-half;

  .icon {
    height: auto;
  }
}

.header__utility-social {
  display: flex;
  align-items: flex-end;

  a {
    border-left: 1px solid #4a4a4a;
    width: rem($utility-header-height);
    height: rem($utility-header-height);
    padding: $pad-half;

    &:hover {
      background-color: rgba(black, 0.8);
    }
  }
}

.header__nav {
  position: relative;
  width: 100%;
  top: rem($utility-header-height);
  z-index: 999;
  background: $white;
  height: rem($small-header-height);

  @include media('>large') {
    height: rem($large-header-height);
    position: relative;
  }

  &.is-active {
    .nav__primary-mobile {
      display: flex;
    }

    .nav__toggle-span--1 {
      width: rem(25);
      transform: rotate(-45deg);
      left: rem(-12);
      top: rem(6);
    }

    .nav__toggle-span--2 {
      opacity: 0;
    }

    .nav__toggle-span--3 {
      display: block;
      width: rem(25);
      transform: rotate(45deg);
      top: rem(-8);
      left: rem(-12);
    }

    .nav__toggle-span--4::after {
      content: "Close";
    }
  }
}

.header__logo-wrap a {
  width: rem(100);
  height: rem(100);
  background-color: $white;
  border-radius: 50%;
  position: relative;
  display: block;
  overflow: hidden;
  content: "";
  margin: auto;
  transition: none;

  @include media('>large') {
    width: rem(200);
    height: rem(200);
  }
}

.header__logo {
  width: rem(85);
  height: rem(85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;

  @include media('>large') {
    width: rem(170);
    height: rem(170);
  }
}
