/* ------------------------------------*\
    $SIDEBAR
\*------------------------------------ */

.widget-mailing {
  form {
    input {
      border-color: $black;
      color: $black;
    }
  }

  button {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: black;
      color: $white;
    }
  }
}

.widget-related {
  .block {
    margin-bottom: $space;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
