/* Slider */
.slick-slider {
  position: relative;
  display: flex;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease !important;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: flex;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  .slick-initialized & {
    display: flex;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: flex;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-dots {
  height: rem(40);
  line-height: rem(40);
  width: 100%;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 rem(5);
    cursor: pointer;

    button {
      padding: 0;
      border-radius: rem(50);
      border: 0;
      display: block;
      height: rem(10);
      width: rem(10);
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      background: $gray;
    }

    &.slick-active {
      button {
        background-color: $black;
      }
    }
  }
}

.slick-arrow {
  padding: $pad-and-half;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    opacity: 1;
  }
}

.slick-gallery {
  flex-direction: column;
  margin-left: -$space;
  margin-right: -$space;
  width: calc(100% + 40px);
  align-items: center;
  max-height: 100vh;

  @include media('>large') {
    margin: 0 auto;
    width: 100%;
  }

  .slick-list,
  .slick-track,
  .slick-slide {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    z-index: 99;
    top: calc(50% - 20px);
    transform: translateY(calc(-50% - 20px));
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.icon--arrow-prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
      background-position: center center;
    }

    &.icon--arrow-next {
      right: 0;
      transform: translateY(-50%);
      background-position: center center;
    }

    @include media('>xxlarge') {
      opacity: 0.2;

      &.icon--arrow-prev {
        left: rem(-60);
        background-position: center right;
      }

      &.icon--arrow-next {
        right: rem(-60);
        background-position: center right;
      }
    }
  }
}

.touch .slick-gallery .slick-arrow {
  display: none !important;
}

.slick-arrow {
  position: relative;
  background-size: rem(20);
  background-position: center center;

  @include media('>medium') {
    background-size: rem(30);
  }
}

.jwplayer.jw-stretch-uniform video {
  object-fit: cover;
}

.jw-nextup-container {
  display: none;
}
