/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.section__main {
  padding: $pad-double 0;
}

.section__hero {
  padding: $pad-double 0;
  min-height: rem(400);
  margin-top: rem(-40);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  @include media('>large') {
    margin-top: rem(-60);
  }

  &.background-image--default {
    background-image: url('../../assets/images/hero-banner.png');
  }
}

.section__hero--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .divider {
    margin-top: $space;
    margin-bottom: $space-half;
  }
}

.section__hero-excerpt {
  max-width: rem(400);
}

/**
 * Accordion
 */

.accordion-item {
  padding-top: rem(15);

  &.is-active {
    .accordion-item__toggle {
      background: url('../../assets/images/icon__minus.svg') no-repeat center center;
    }

    .accordion-item__body {
      height: auto;
      opacity: 1;
      visibility: visible;
      padding-top: $pad;
      padding-bottom: $pad-double;
    }

    &:last-child {
      .accordion-item__body {
        padding-bottom: $pad-half;
      }
    }
  }
}

.accordion-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid $black;
  padding-bottom: $pad-half;
}

.accordion-item__toggle {
  width: rem(20);
  height: rem(20);
  min-width: rem(20);
  background: url('../../assets/images/icon__plus.svg') no-repeat center center;
  background-size: rem(20);
  margin: 0 !important;
}

.accordion-item__body {
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}
