/* ------------------------------------*\
    $BUTTONS
\*------------------------------------ */

.btn,
button,
input[type="submit"] {
  display: table;
  padding: $pad-half $pad-and-half;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background-color: $button-color;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: rem(50);
  font-weight: 700;

  @include font--m;

  @include media ('>medium') {
    padding: rem(12) $pad-and-half;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $button-hover;
    color: $white;
  }

  &::after {
    content: '';
    display: inline-block;
    width: rem(8);
    height: rem(8);
    margin-left: rem(5);
    background: url('../../assets/images/icon--arrow.svg') no-repeat center center;
    position: relative;
    top: rem(-0.75);
  }
}

.alm-btn-wrap {
  margin-top: $space-double;
}

button.alm-load-more-btn.btn.more {
  width: 100%;
  border-radius: rem(50);
  background: $button-color;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-left: 0;
  padding-right: 0;

  &.done {
    background: $button-color;
    opacity: 0.5;
  }

  &:hover {
    background-color: $button-hover;
  }

  &::after {
    display: none;
  }

  &.loading {
    padding-left: 0;
  }

  &.loading::before,
  &::before {
    background: none;
    width: rem(8);
    height: rem(8);
    margin: 0 rem(5) 0 0;
    border-radius: 0;
    display: inline-block;
    z-index: 1;
    content: '+';
    position: relative;
    left: 0;
    top: rem(-1);
    overflow: visible;
    transition: none;
  }
}
