/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.section__main {
  padding: $pad-double 0;
}

.section__hero {
  padding: $pad-double 0;
  min-height: rem(400);
  margin-top: rem(-40);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  @include media('>large') {
    margin-top: rem(-60);
  }

  &.background-image--default {
    background-image: url('../../assets/images/hero-banner.png');
  }
}

.section__hero--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .divider {
    margin-top: $space;
    margin-bottom: $space-half;
  }
}

.section__hero-excerpt {
  max-width: rem(400);
}
