/* ------------------------------------*\
    $BUTTONS
\*------------------------------------ */

.btn,
button,
input[type="submit"] {
  display: table;
  padding: $pad-half $pad-and-half;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background-color: $button-color;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: rem(50);
  font-weight: 700;

  @include media ('>medium') {
    padding: rem(12) $pad-and-half;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $button-hover;
    color: $white;
  }
}

.alm-btn-wrap {
  margin-top: $space-double;
}

button.alm-load-more-btn.more {
  width: auto;
  border-radius: rem(50);
  background: transparent;
  border: 1px solid $black;
  color: $black;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-left: $pad-double;
  padding-right: $pad-double;

  @include font--primary--xs;

  &.done {
    opacity: 0.5;
  }

  &:hover {
    background-color: $button-hover;
    color: $white;
  }

  &::after {
    display: none;
  }
}
