/* Slider */
.slick-slider {
  position: relative;
  display: flex;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease !important;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: flex;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  .slick-initialized & {
    display: flex;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: flex;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-dots {
  height: rem(40);
  line-height: rem(40);
  width: 100%;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 rem(5);
    cursor: pointer;

    button {
      padding: 0;
      border-radius: rem(50);
      border: 0;
      display: block;
      height: rem(10);
      width: rem(10);
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      background: transparent;
      box-shadow: 0 0 0 1px $white;
    }

    &.slick-active {
      button {
        background-color: $white;
      }
    }
  }
}

.slick-arrow {
  padding: $pad-and-half;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    opacity: 0.8;
  }
}

.slick-hero,
.slick-gallery {
  align-items: center;
  position: relative;

  .slick-arrow {
    position: absolute;
    z-index: 99;
    top: 50%;
  }

  .icon--arrow-prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  .icon--arrow-next {
    right: 0;
    transform: translateY(-50%);
  }
}

.slick-testimonials {
  .icon--arrow-prev {
    transform: rotate(180deg);
  }
}

.slick-hero {
  background: black;

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    display: flex;
  }

  .slick-slide {
    visibility: hidden;
    opacity: 0 !important;
    background-color: black !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.28, 0, 0.18, 1) !important;

    &.slick-active {
      z-index: 1;
      visibility: visible;
      opacity: 1 !important;
    }
  }

  &.slick-slider .slick-background {
    transition: transform 11.5s cubic-bezier(0.28, 0, 0.18, 1);
    transition-delay: 0.25s;
    transform: scale(1.001, 1.001);
  }

  &.slick-slider .slick-active > .slick-background {
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform-origin: 50% 50%;
  }

  .slick-dots {
    position: absolute;
    bottom: $space;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: auto;

    @include media('>medium') {
      height: 100%;
      right: auto;
      left: rem(-5);
      top: 0;
      bottom: 0;
      margin: auto;
      width: rem(65);
      flex-direction: column;
      display: flex !important;
    }

    li {
      padding: rem(6.5);
      text-align: center;

      @include media('>medium') {
        padding: rem(6.5) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }

      &.slick-active {
        button {
          opacity: 1;

          @include media('>medium') {
            width: 100% !important;
          }
        }
      }

      button {
        display: block;
        width: rem(65);
        height: rem(6);
        text-align: center;
        box-shadow: none;
        opacity: 0.6;
        border-radius: rem(7);
        background-color: $tertiary-color;

        @include media('>medium') {
          width: rem(20);
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.slick-testimonials,
.slick-gallery {
  .slick-list,
  .slick-track,
  .slick-slide {
    height: auto;
    width: 100%;
    display: flex;
  }
}

.hero__video {
  background: 50% 50% / cover no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.jwplayer {
    transition: opacity 1s ease-in-out;
  }

  &.is-fading .jwplayer {
    opacity: 0;
  }

  .jwplayer.jw-flag-aspect-mode {
    height: 100% !important;
  }

  .jw-state-playing {
    opacity: 1;
  }
}

.jwplayer.jw-stretch-uniform video {
  object-fit: cover;
}

.jw-nextup-container {
  display: none;
}
