/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.section__main {
  padding: $pad-double 0;
}

.section__hero {
  padding: $pad-double 0;
  min-height: rem(400);
  margin-top: rem(-40);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  @include media('>large') {
    margin-top: rem(-60);
  }

  &.background-image--default {
    background-image: url('../../assets/images/hero-banner.png');
  }
}

.section__hero--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .divider {
    margin-top: $space;
    margin-bottom: $space-half;
  }
}

.section__hero-excerpt {
  max-width: rem(400);
}

/**
 * Filter
 */
.filter {
  width: 100%;
  z-index: 98;
  margin: 0;

  &.is-active {
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;

    @include media('>large') {
      position: relative;
      top: 0 !important;
      z-index: 98;
    }

    .filter-toggle {
      position: fixed;
      top: 0 !important;
      z-index: 1;
      box-shadow: 0 2px 3px rgba(black, 0.1);

      @include media('>large') {
        position: relative;
      }
    }

    .filter-wrap {
      display: flex;
      padding-bottom: rem(40);

      @include media('>large') {
        padding-bottom: 0;
      }
    }

    .filter-toggle::after {
      content: "close filters";
      background: url('../../assets/images/icon__close.svg') center right no-repeat;
      background-size: rem(15);
    }
  }

  &.sticky-is-active.is-active {
    @include media('>large') {
      top: rem(40) !important;
    }
  }
}

.filter-is-active {
  overflow: hidden;

  @include media('>large') {
    overflow: visible;
  }
}

.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: rem(40);
  padding: 0 $pad;
  height: rem(40);
  background-color: $white;
  cursor: pointer;

  &::after {
    content: "expand filters";
    display: flex;
    background: url('../../assets/images/icon__plus.svg') center right no-repeat;
    background-size: rem(15);
    font-family: $sans-serif;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: rem(12);
    text-align: right;
    padding-right: rem(25);
  }
}

.filter-wrap {
  display: none;
  flex-direction: column;
  background-color: $white;

  @include media('>large') {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter-item__container {
  position: relative;
  border: none;
  border-top: 1px solid $border-color;
  padding: $pad;
  background-position: center right $pad;

  @include media('>large') {
    width: 25%;
  }

  &.is-active {
    .filter-items {
      display: block;
    }

    .filter-item__toggle {
      &::after {
        background: url('../../assets/images/arrow__up--small.svg') center right no-repeat;
        background-size: rem(10);
      }

      &-projects::after {
        content: "close projects";
      }

      &-room::after {
        content: "close rooms";
      }
    }
  }

  &-skill {
    &.is-active .filter-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      @include media('>large') {
        flex-direction: column;
      }
    }

    .filter-item {
      padding-top: rem(30);
      cursor: pointer;
    }

    .filter-item__advanced {
      background: url('../../assets/images/icon__advanced.svg') top center no-repeat;
      background-size: rem(30);

      &.this-is-active {
        background: url('../../assets/images/icon__advanced--solid.svg') top center no-repeat;
        background-size: rem(30);
      }
    }

    .filter-item__intermediate {
      background: url('../../assets/images/icon__intermediate.svg') top center no-repeat;
      background-size: rem(30);

      &.this-is-active {
        background: url('../../assets/images/icon__intermediate--solid.svg') top center no-repeat;
        background-size: rem(30);
      }
    }

    .filter-item__beginner {
      background: url('../../assets/images/icon__beginner.svg') top center no-repeat;
      background-size: rem(30);

      &.this-is-active {
        background: url('../../assets/images/icon__beginner--solid.svg') top center no-repeat;
        background-size: rem(30);
      }
    }
  }
}

.filter-item__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    display: flex;
    background: url('../../assets/images/arrow__down--small.svg') center right no-repeat;
    background-size: rem(10);
    font-family: $sans-serif;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: rem(12);
    text-align: right;
    padding-right: rem(15);

    @include media('>large') {
      display: none;
    }
  }

  &-projects::after {
    content: "see all projects";
  }

  &-room::after {
    content: "see all rooms";
  }

  &-skill::after,
  &-cost::after {
    display: none;
  }
}

.filter-items {
  display: none;
  margin-top: $space;

  @include media('>large') {
    display: flex;
  }
}

.filter-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: $space-half;
  position: relative;
}

.filter-clear {
  padding: $pad;
  font-size: 80%;
  text-decoration: underline;
  border-top: 1px solid $border-color;

  @include media('>large') {
    width: 100%;
  }
}
