/* ------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------ */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: $gray;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: $gray;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: $gray;
}

/* Firefox 18- */
:-moz-placeholder {
  color: $gray;
}

::-ms-clear {
  display: none;
}

label {
  margin-top: $space;
  width: 100%;
}

input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=search],
textarea,
select {
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url('../../assets/images/arrow__down--small.svg') $white center right rem(10) no-repeat;
  background-size: rem(10);
}

input[type=checkbox],
input[type=radio] {
  outline: none;
  border: none;
  margin: 0 rem(7) 0 0;
  height: rem(20);
  width: rem(20);
  line-height: rem(20);
  background-size: rem(20);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: $white;
  position: relative;
  top: rem(-1);
}

input[type=checkbox],
input[type=radio] {
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  cursor: pointer;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  border-color: $border-color;
  background: $primary-color url('../../assets/images/icon__check.svg') center center no-repeat;
  background-size: rem(10);
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: flex;
  cursor: pointer;
  position: relative;
  margin: 0;
  line-height: 1;
}

input[type=submit] {
  margin-top: $space;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

.form--inline {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;

  input {
    height: 100%;
    max-height: rem(50);
    width: calc(100% - 80px);
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    z-index: 1;

    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
      color: $gray;

      @include font--s;
    }

    /* Firefox 19+ */
    &::-moz-placeholder {
      color: $gray;

      @include font--s;
    }

    /* IE 10+ */
    &:-ms-input-placeholder {
      color: $gray;

      @include font--s;
    }

    /* Firefox 18- */
    &:-moz-placeholder {
      color: $gray;

      @include font--s;
    }
  }

  button {
    display: flex;
    justify-content: center;
    width: rem(80);
    padding: 0;
    margin: 0;
    position: relative;
    background-color: $white;
    border-radius: 0;
    color: $body-color;
    text-align: center;

    @include font--primary--xs;

    &:hover {
      background-color: rgba($white, 0.8);
      color: $body-color;
    }
  }
}

.form__search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  height: rem(40);
  width: 100%;
  border-bottom: 1px solid $gray;

  input[type=text] {
    background-color: transparent;
    height: rem(40);
    border: none;
    color: $gray;
    z-index: 1;
    padding-left: 0;

    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
      color: $black;

      @include font--primary--xs;
    }

    /* Firefox 19+ */
    &::-moz-placeholder {
      color: $black;

      @include font--primary--xs;
    }

    /* IE 10+ */
    &:-ms-input-placeholder {
      color: $black;

      @include font--primary--xs;
    }

    /* Firefox 18- */
    &:-moz-placeholder {
      color: $black;

      @include font--primary--xs;
    }
  }

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40);
    height: rem(40);
    z-index: 2;
    padding: 0;

    &:hover span {
      transform: scale(1.1);
    }

    span {
      transition: all 0.25s ease;
      margin: 0 auto;

      svg path {
        fill: $black;
      }
    }

    &::after {
      display: none;
    }
  }
}

header .form__search {
  position: relative;
  border: none;

  input[type=text] {
    color: white;
    font-size: rem(14);
    width: rem(110);
    padding-left: rem($utility-header-height);

    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
      color: $white;

      @include font--primary--xs;
    }

    /* Firefox 19+ */
    &::-moz-placeholder {
      color: $white;

      @include font--primary--xs;
    }

    /* IE 10+ */
    &:-ms-input-placeholder {
      color: $white;

      @include font--primary--xs;
    }

    /* Firefox 18- */
    &:-moz-placeholder {
      color: $white;

      @include font--primary--xs;
    }
  }

  input[type=text]:focus,
  &:hover input[type=text],
  input[type=text]:not(:placeholder-shown) {
    width: 100%;
    min-width: rem(200);
    background-color: rgba(black, 0.8);

    @include media('>large') {
      width: rem(200);
      min-width: none;
    }
  }

  button {
    position: absolute;
    left: 0;
    width: rem($utility-header-height);
    height: rem($utility-header-height);

    span {
      svg path {
        fill: $white;
      }
    }
  }
}

.search-form {
  max-width: rem(400);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  label {
    font-size: inherit;
    margin: 0;
    padding: 0;
  }

  .search-field {
    font-size: inherit;
    padding: $pad-half;
  }

  .search-submit {
    border-radius: 0;
    padding: $pad-half;
    margin-top: 0;
  }
}

label {
  margin-bottom: rem(5);

  @include font--primary--xs;
}
