{% if section_body.description or section_body.button %}
  <div class="section__body spacing rich-text">
    {{ section_body.description }}
    {% if section_body.button %}
      {% set section_body = {
        "button": {
          "url": section_body.button.url,
          "title": section_body.button.title,
          "target": section_body.button.target,
          "class": "btn--center"
        }
      } %}
      {% include "00-atoms/buttons/button.twig" with { button: section_body.button } %}
    {% endif %}
  </div>
{% endif %}