{% if section_header.kicker or section_header.title %}
  <div class="section__header narrow narrow--m text-align--center space--double-bottom">
    {% if section_header.kicker %}
      <h3 class="font--primary--s">{{ section_header.kicker }}</h3>
      <hr class="divider" />
    {% endif %}
    {% if section_header.title %}
      <h2 class="font--primary--xl">{{ section_header.title }}</h2>
    {% endif %}
  </div>
{% endif %}