{% if post.terms('tags') %}
  <div class="widget widget-tags">
    <h3 class="font--primary--xs">Tags</h3>
    <hr />
    <div class="tags">
      {% for term in post.terms('tags') %}
        <a href="{{ term.link }}" class="color--gray font--s">{{ term.name }}{% if not loop.last %},&nbsp;{% endif %}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}