{% set base_class = cards.base_class|default('c-cards') %}

{% if cards.items %}
  <section class="{{ bem_classes(base_class, cards.element, cards.modifiers, cards.extra) }} l-wrap l-container--full u-spacing--double">
    <div class="{{ bem_classes(base_class, 'container') }} l-container--xl">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "type": cards.header.icon_type,
            "name": cards.header.icon_name,
            "image": cards.header.icon_image
          },
          "kicker": cards.header.kicker,
          "heading": cards.header.title,
          "dek": cards.header.description,
          "extra": bem_classes(base_class, 'header')
        }
      } %}
      <div class="{{ bem_classes(base_class, 'items') }}" bp="grid 4@lg">
        {% for item in cards.items %}
          {% include "@molecules/cards/card.twig" with {
            "card": {
              "icon": item.icon,
              "kicker": item.kicker,
              "title": item.title,
              "hr": "responsive",
              "dek": item.description,
              "link": item.button.url,
              "button": {
                "url": item.button.url,
                "text": item.button.title,
                "target": item.button.target
              },
              "modifiers": "promo",
              "extra": "u-text-align--center"
            }
          } %}
        {% endfor %}
      </div>
      {% include "@atoms/buttons/button.twig" with {
        "button": {
          "text": cards.header.button.title,
          "url": cards.header.button.url,
          "target": cards.header.button.target,
          "extra": bem_classes(base_class, 'button'),
          "modifiers": ["secondary", "center"]
        }
      } %}
    </div>
  </section>
{% endif %}
