{% set base_class = icon.base_class|default('o-icon') %}

{% if icon %}
  {% if icon.type == "Image" %}
    {% include "@atoms/images/image/image.twig" with {
      "image": {
        "src": Image(icon.image).src|towebp,
        "alt": Image(icon.image).alt
      }
    } %}
  {% else %}
    <span class="{{ bem_classes(base_class, icon.element, icon.modifiers, icon.extra) }}" data-pin-nopin="true">
      {% include '@atoms/images/icons/' ~ icon.name|lower|replace({' ' : '-'}) ~ '.twig' %}
    </span>
  {% endif %}
{% endif %}
