.o-kicker {
  @include o-heading__secondary--s;
  color: $c-secondary;

  &__link {
    padding-top: $space;
    padding-bottom: $space;
    margin-top: calc($space * -1);
    margin-bottom: calc($space * -1);

    &:hover,
    &:focus {
      color: $c-primary;
    }
  }
}
