@mixin o-link($color: currentColor, $color-hover: white) {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  transition: $transition-all;
  text-decoration: none;
  color: $color;
  box-shadow: inset 0 -3px 0 -1px $c-secondary;

  @include body-copy;

  span {
    transition: right 0.25s $transition-effect;
    right: 3px;
    color: currentColor;
  }

  svg path {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $color-hover;
    box-shadow: inset 0 -25px 0 -1px $c-secondary;

    span {
      right: 0;
    }
  }
}

@mixin o-link--small {
  @include o-link(currentColor, $c-primary);

  font-family: $font-primary;
  font-size: $font-size-xxs;
  box-shadow: none;
  display: flex;
  text-decoration: underline;

  .o-icon {
    order: 1;
    margin-left: $space-one-fourth;

    svg path {
      fill: $c-black;
    }
  }

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

@mixin o-link--alt {
  @include o-link(currentColor, $c-secondary);

  font-family: $font-secondary;
  font-size: $font-size-xs;
  letter-spacing: $letter-spacing-2;
  text-transform: uppercase;
  box-shadow: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

@mixin o-link--simple {
  @include o-link(currentColor, $c-tertiary);

  text-decoration: underline;
  box-shadow: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.o-link {
  @include o-link;

  &--small {
    @include o-link--small;
  }

  &--alt {
    @include o-link--alt;
  }

  &--simple {
    @include o-link--simple;
  }

  &--no-shadow {
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
}
