{% set block_grid_base_class = block_grid.base_class|default('c-block-grid') %}

{% if block_grid %}
  <section class="{{ bem_classes(block_grid_base_class, block_grid.element, block_grid.modifiers, block_grid.extra) }} l-wrap l-container u-spacing">
    {% if block_grid.heading or block_grid.dek %}
      <div class="{{ bem_classes(block_grid_base_class, 'header') }}">
        {% if block_grid.heading %}
          {% include "@atoms/text/heading/heading.twig" with {
            "heading": {
              "level": "2",
              "size": "xl",
              "type": "primary",
              "text": block_grid.heading,
              "extra": bem_classes(block_grid_base_class, 'heading')
            }
          } %}
        {% endif %}
        {% if block_grid.dek %}
          {% include "@atoms/text/dek/dek.twig" with {
            "dek": {
              "text": block_grid.dek,
              "extra": [
                bem_classes(block_grid_base_class, 'dek'),
                "l-container--m"
              ]
            }
          } %}
        {% endif %}
      </div>
    {% endif %}
    {% if block_grid.posts %}
      {% if block_grid.posts|length > 4 %}
        {% set posts_modifiers = 'masonry' %}
      {% else %}
        {% set posts_modifiers = '4up' %}
      {% endif %}
      <div class="{{ bem_classes(block_grid_base_class, 'posts', posts_modifiers) }}">
        {% for post in block_grid.posts %}
          {% include "@molecules/blocks/block.twig" with {
            "block": {
              "modifiers": "with-underline",
              "heading": {
                "level": "2",
                "size": "m",
                "type": "primary",
                "text": post.display_title is not empty ? post.display_title : post.title,
                "link": {
                  "url": post.link
                }
              },
              "meta": {
                "author": post.terms('byline'),
                "date": post.date
              },
              "figure": {
                "link": {
                  "url": post.link
                },
                "type": post.post_type,
                "image": {
                  "src": post.thumbnail.src|resize(720, 405),
                  "alt": post.thumbnail.alt
                }
              }
            }
          } %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}
