{% set base_class = posts_slider.base_class|default('c-posts-slider') %}

{% if posts_slider.posts %}
  <section class="{{ bem_classes(base_class, posts_slider.element, posts_slider.modifiers, posts_slider.extra) }} l-container--full">
    <div class="{{ bem_classes(base_class, 'wrap') }} l-wrap u-spacing--double">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "type": posts_slider.header.icon_type,
            "name": posts_slider.header.icon_name
          },
          "heading": posts_slider.header.title,
          "extra": bem_classes(base_class, 'header')
        }
      } %}
      <div class="{{ bem_classes(base_class, 'posts') }} js-slick-posts">
        {% for post in posts_slider.posts %}
          {% set post = Post(post) %}
          {% include ['@molecules/cards/card-' ~ post.post_type ~ '.twig', '@molecules/cards/card.twig'] with {
            "card": post
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
