{% set related_posts_base_class = related_posts.base_class|default('c-related-posts') %}

{% if related_posts %}
  <section class="{{ bem_classes(related_posts_base_class, related_posts.element, related_posts.modifiers, related_posts.extra) }} o-section--full">
    <div class="l-wrap l-container u-spacing--double">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "title": "Blog",
            "name": "blog"
          },
          "heading": {
            "text": related_posts.heading
          },
          "extra": bem_classes(related_posts_base_class, 'header')
        }
      } %}
      {% if related_posts.posts %}
        <div class="{{ bem_classes(related_posts_base_class, 'posts') }} js-slick-posts">
          {% for post in related_posts.posts %}
            {% include "@molecules/blocks/block.twig" with {
              "block": {
                "figure": {
                  "link": {
                    "url": post.link
                  },
                  "type": post.post_type,
                  "image": {
                    "src": post.thumbnail.src|resize(720, 405),
                    "alt": post.thumbnail.alt
                  }
                },
                "kicker": {
                  "text": post.category
                },
                "heading": {
                  "level": "2",
                  "size": "l",
                  "type": "primary",
                  "text": post.title,
                  "link": {
                    "url": post.link
                  }
                },
                "dek": {
                  "text": post.excerpt ? post.excerpt : post.preview(50, '...')
                },
                "meta": {
                  "date": post.date
                },
                "link": {
                  "url": post.link,
                  "text": "Read More"
                }
              }
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
