{% set base_class = related_posts.base_class|default('c-related-posts') %}

{% if related_posts.posts is not empty %}
  <section class="{{ bem_classes(base_class, related_posts.element, related_posts.modifiers, related_posts.extra) }} l-container--full">
    <div class="{{ bem_classes(base_class, 'wrap') }} l-wrap u-spacing--double">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "type": "Name",
            "name": related_posts.icon.name ? related_posts.icon.name : "Blog"
          },
          "heading": related_posts.heading,
          "extra": bem_classes(base_class, 'header')
        }
      } %}
      <div class="{{ bem_classes(base_class, 'posts') }} js-slick-posts">
        {% for post in related_posts.posts %}
          {% include "@molecules/cards/card.twig" with {
            "card": post
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
