{% set related_posts_base_class = related_posts.base_class|default('c-related-posts') %}

{% if related_posts %}
  <section class="{{ bem_classes(related_posts_base_class, related_posts.element, related_posts.modifiers, related_posts.extra) }} o-section--full">
    <div class="{{ bem_classes(related_posts_base_class, 'wrap') }} l-wrap u-spacing--double">
      {% include "@organisms/sections/page-headers/page-header.twig" with {
        "page_header": {
          "icon": {
            "title": related_posts.icon ? related_posts.icon|capitalize : "Blog",
            "name": related_posts.icon ? related_posts.icon|lower : "blog"
          },
          "heading": {
            "text": related_posts.heading
          },
          "extra": bem_classes(related_posts_base_class, 'header')
        }
      } %}
      {% if related_posts.posts %}
        <div class="{{ bem_classes(related_posts_base_class, 'posts') }} js-slick-posts">
          {% for post in related_posts.posts %}
            {% include "@molecules/cards/card.twig" with {
              "card": post
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
