.c-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-primary;
  color: white;
  position: relative;
  z-index: 999;

  &__content {
    flex: 1;
    text-align: center;
    padding: $space-half $space;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    margin-left: $space-half;
  }

  &__close {
    svg {
      transition: $transition-all;

      path {
        fill: white;
      }
    }

    &:hover svg {
      transform: rotate(360deg);
    }
  }
}