$tabs-height: 350px;

.c-tabs {
  background: $c-white;
  position: relative;
  display: block;
  border-left: $border--standard;
  border-right: $border--standard;
  border-bottom: $border--standard;

  @include media('>medium') {
    min-height: $tabs-height;
  }

  &__title {
    padding: 0 $space;
    min-height: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: $c-gray;
    border-top: $border--standard;
    top: 0;
    cursor: pointer;
    transition: $transition-all;

    @include media('>medium') {
      position: absolute;
      top: 0;
      width: 30%;
      border-right: $border--standard;
    }

    > * {
      font-weight: 600;
      color: $c-gray;
    }

    &:first-child {
      border-top: none;
    }

    &.is-active {
      background-color: $c-white;
      border-right-color: $c-white;

      > * {
        color: $c-gray;
      }

      &:first-child {
        @include media('<=medium') {
          border-bottom: $border--standard;
        }
      }

      + .c-tabs__content {
        display: flex;
        background-color: $c-white;
      }

      &:hover {
        background-color: $c-white;
      }
    }

    &:hover {
      background-color: $c-gray;

      > * {
        color: $c-black;
      }
    }
  }

  &__content {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    @include media('>small') {
      flex-direction: row;
    }

    @include media('>medium') {
      margin-left: 30%;
      height: $tabs-height;
    }

    > * {
      @include media('>small') {
        width: 50%;
      }

      @include media('>medium') {
        width: 70%;
      }
    }

    &-block {
      padding: $space-double $space;
      order: 1;

      @include media('>small') {
        order: 0;
      }

      @include media('>medium') {
        padding: $space-double;
      }
    }

    &-image {
      order: 0;

      @include media('>small') {
        order: 1;

        .o-figure {
          height: 100%;
        }

        img,
        picture {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@for $i from 0 to 10 {
  .c-tabs__title:nth-child(#{$i}) {
    top: ($i * 35px ) - 35px;
  }
}
