.has-dropcap {
  > p:first-of-type::first-letter {
    float: left;
    padding: 5px 12px 0 4px;
    margin-bottom: calc($space-half * -1);
    font-family: $font-primary;
    font-size: 60px;
    font-weight: bold;
    line-height: .93;
  }
}
