.c-hero-media {
  width: 100%;
  height: auto;
  max-height: 85vh;
  overflow: hidden;

  &__image {
    cursor: zoom-in;
  }

  + main .c-content-single {
    margin-top: -30px;

    @include media('>medium') {
      margin-top: -50px;
    }
  }
}