{% include "02-organisms/content/content--page.twig" %}
<div class="spacing--double space--double-top">
  {% include "02-organisms/sections/section--featured-work.twig" %}
  {% include "02-organisms/sections/section--featured-posts.twig" %}
</div>
