<section class="section section__main">
  <div class="layout-container section__main--inner">
    <article class="article narrow spacing--double">
      {% include "02-organisms/sections/page-header.twig"
        with {
          post: {
            display_title: "Page Not Found",
            title: "404",
            intro: 'We couldn\'t find the page you were looking for. Please go back to <a href="'~ site.url ~'" class="text-link">home</a> or try the search below.'
          }
        }
      %}
      {{ function('get_search_form') }}
    </article>
  </div>
</section>