{% if posts %}
  {% include "02-organisms/sections/section--filter.twig" %}
  <div class="grid grid--full">
    {% for post in posts %}
      {% include ['01-molecules/blocks/block--' ~ post.post_type ~ '.twig', '01-molecules/blocks/block.twig'] %}
    {% endfor %}
  </div>
  {{ function('do_shortcode', '[ajax_load_more category="' ~ category ~ '" container_type="div" post_type="'~ post_type ~'" scroll="true" transition_container="false" button_label="Load More" posts_per_page="12" offset="12"]') }}
{% endif %}