<h3 class="color--gray font--primary--xs space--half-bottom">Advertisement</h3>

<!-- Footer Ad (Rectangle) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3133257559155527"
     data-ad-slot="9671017956"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>