table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

tr {
  &:nth-child(odd) td {
    background-color: white;
  }
}

th,
.wp-block-table th {
  text-align: left;
  padding: $space-half;
  background-color: $c-primary;
  color: white;
  vertical-align: middle;
  border: 1px solid $c-primary;
  @include o-heading__secondary--s;
}

td,
.wp-block-table td {
  padding: $space-half;
  vertical-align: middle;
  border: $border--standard;

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $c-secondary;
    }
  }
}

/**
 * Responsive Table
 */
.c-table--responsive {
  border: 1px solid $c-gray;
  border-collapse: collapse;
  padding: 0;
  width: 100%;

  tr {
    border: 1px solid $c-gray;
    background-color: $c-white;
  }

  th,
  td {
    padding: $space-half;
  }

  th {
    border-bottom: 1px solid $c-gray;
  }

  @include media("<=medium") {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid $c-gray;
      display: block;
      margin-bottom: $space-half;

      &.this-is-active {
        td:not(:first-child) {
          display: flex;
        }

        td:first-child::before {
          content: "- " attr(data-label);
        }
      }
    }

    td {
      border-bottom: 1px solid $c-gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;

      &:first-child {
        cursor: pointer;

        &::before {
          content: "+ " attr(data-label);
          @include body-copy;
          text-transform: none;
          font-weight: 500;
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &:not(:first-child) {
        display: none;
      }

      &::before {
        content: attr(data-label);
        @include o-heading__secondary--s;
        padding-right: $space-half;
      }
    }
  }
}
