/**
 * Block (default)
 */
.c-block {
  position: relative;
  line-height: 1;

  &--with-underline {
    border-bottom: $border--standard;
    padding-bottom: $space;

    @include media(">medium") {
      border: 0;
      padding-bottom: 0;
    }


    .c-block__content {
      padding-right: $space;

      @include media(">medium") {
        border-bottom: $border--standard;
        padding-bottom: $space;
        padding-right: 0;
      }
    }
  }

  &__image {
    &:hover,
    &:focus {
      + .c-block__content .c-block__heading a {
        color: $c-link-hover;
      }
    }
  }

  &__media {
    position: relative;

    .o-figure {
      position: relative;
      z-index: 1;
    }

    .o-icon {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: $c-white;
      pointer-events: none;
    }
  }

  &__content {
    flex: 1;
  }
}

/**
 * Block person
 */
.c-block-person {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__image {
    margin: 0 auto $space auto;
    width: 60%;
  }

  &__social-links {
    display: flex;
    justify-content: center;

    > * {
      margin-right: $space;
      box-shadow: none;
      color: $c-black;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        box-shadow: none;
        color: $c-link-hover;
      }
    }
  }
}

/**
 * Block location
 */
.c-block-location {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-l;

  &__heading > * {
    text-transform: none;
    line-height: 1;
    letter-spacing: normal;
    position: relative;
    text-align: center;
    top: 6px;

    @include media(">medium") {
      top: 8px;
    }


    @include media(">large") {
      top: 10px;
    }
  }

  &__content {
    grid-gap: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 400px;
  }

  .o-map {
    min-height: 400px;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

/**
 * Block media
 */
.c-block-media {
  text-align: center;
  position: relative;

  &__category + &--inner {
    padding-left: calc(80px - #{$space-double});

    @include media(">medium") {
      padding-left: calc(110px - #{$space-double});
    }
  }

  &__category {
    position: absolute;
    left: 80px;
    top: 0;
    transform: rotate(-270deg);
    transform-origin: top left;
    text-align: left;
    z-index: 1;

    @include media(">medium") {
      left: 110px;
    }


    a {
      font-family: $font-secondary;
      font-size: 80px;
      font-weight: bold;
      line-height: 1;
      box-shadow: none;
      text-shadow: none;
      letter-spacing: normal;
      text-transform: capitalize;
      color: $c-gray;
      transform: rotate(-180deg);

      @include media(">medium") {
        font-size: 110px;
      }


      &:hover,
      &:focus {
        color: $c-gray;
        box-shadow: none;
      }
    }
  }

  &__image {
    padding: 0 $space-double $space-double $space-double;
  }

  &__media {
    position: relative;

    .o-figure {
      position: relative;
      z-index: 1;
    }

    .o-icon {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: $c-primary;
      pointer-events: none;
    }
  }
}

/**
 * Block video
 */
.c-block-video {
  cursor: pointer;
  display: block;

  &__media {
    position: relative;

    .o-figure {
      position: relative;
      z-index: 1;
    }

    .o-icon {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: $c-white;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: $transition-all;
    }
  }

  &__content {
    margin-top: $space-half;
  }

  &:hover,
  &:focus {
    .o-icon {
      visibility: visible;
      opacity: 1;
    }

    h3 {
      color: $c-link-hover;
    }
  }

  &--small {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    max-width: 110px;

    @include media(">medium") {
      min-width: 100%;
      max-width: 100%;
      flex-direction: row;
    }

    .c-block-video__media {
      min-width: 110px;
      max-width: 110px;
      transition: $transition-all;

      @include media(">medium") {
        margin-right: $space-half;
      }
    }

    .c-block-video__content {
      margin-top: $space-one-fourth;

      @include media(">medium") {
        margin-top: 0;
      }
    }

    h3 {
      @include u-font--xs;

      color: $c-secondary;
      letter-spacing: normal;
      text-transform: none;
      font-weight: normal;

      @include media('>medium') {
        @include u-font--s;
      }
    }

    .o-icon {
      display: none;
    }

    .o-figure {
      z-index: -1;
    }

    &.is-active {
      .c-block-video__media {
        box-shadow: inset 0px 0px 0px 4px $c-primary;
      }

      h3 {
        color: $c-secondary;

        &::before {
          @include o-heading__secondary--xs;
          content: "Now Playing:";
          display: block;
          letter-spacing: $letter-spacing-1;
          color: $c-gray;
        }
      }
    }
  }
}
