.c-tags {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: $c-black;

  @include u-font--xs;

  &::before {
    content: "Tags: ";
    display: inline-flex;
    margin-right: $space-one-fourth;
  }
}
