{% set tags_base_class = tags.base_class|default('c-tags') %}

{% if tags %}
  <div class="{{ bem_classes(tags_base_class) }}">
    {% for tag in tags %}
      {% include "@atoms/links/link.twig" with {
        "link": {
          "text": tag.name,
          "url": tag.link,
          "modifiers": "small",
          "extra": bem_classes(tags_base_class, 'link')
        }
      } %}
      {% if not loop.last %}
        <span>,&nbsp;</span>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
