{% set byline_social_base_class = 'c-byline-social'%}

{% set byline_social = [
  {
    "name": "facebook",
    "url": social.facebook
  },
  {
    "name": "twitter",
    "url": social.twitter
  },
  {
    "name": "instagram",
    "url": social.instagram
  },
  {
    "name": "pinterest",
    "url": social.pinterest
  },
  {
    "name": "email",
    "url": social.email
  },
  {
    "name": "website",
    "url": social.website
  },
  {
    "name": "linkedin",
    "url": social.linkedin
  }
] %}

{% if social.facebook or social.twitter or social.instagram or social.pinterest or social.email or social.website or social.linkedin %}

  <p class="u-font--xs u-text-transform--upper u-color--black"><strong>Find Me</strong></p>

  <div class="{{ bem_classes(byline_social_base_class, byline_social.element, byline_social.modifiers, byline_social.extra) }}">
    {% for link in byline_social %}
      {% if link.url %}
        {% include "@atoms/links/link.twig" with {
          "link": {
            "url": link.url,
            "target": "_blank",
            "extra": [
              bem_classes(byline_social_base_class, 'item', link.name)
            ],
            "icon": {
              "name": link.name,
              "modifiers": "small"
            },
            "attributes": {
              "aria-label": link.name|capitalize
            }
          }
        } %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
